[2012-11-07 07:32] somdoron opened #1 "Call for maintainers"
If you'd like to help click that lovely green "Merge Pull Request" button, and get eternal karma, add a comment confirming that you've read and understand the C4 process at http://rfc.zeromq.org/spec:16.

[2012-11-07 07:34] somdoron opened #2 "Test the library with libzmq v3.2"

[2012-11-07 07:35] somdoron opened #3 "Port test from original project"
i think it will best to use nunit.

[2012-11-07 07:36] somdoron opened #4 "support clrzmq api"
it will be easier to transition to netmq if the project support the current clrzmq api

[2012-11-07 07:37] somdoron opened #5 "Proxy from original project is not yet implemented"
it's actually mark as not compile in the current solution.

it's also need to be ported from the original project.

[2012-11-07 07:38] somdoron opened #6 "TCP Keep alive"
the tcp keep alive is still not developed and it's support on windows.

[2012-11-07 07:39] somdoron opened #7 "Support mono"
if you have experience with mono and want to make the project support mono you are more than welcome.

[2012-11-07 07:39] somdoron opened #8 "IPv6"
IPv6 is not tested and there are probably some bugs...

[2012-11-07 07:42] somdoron opened #9 "PGM"
pgm is still not supported, there are actually two ways to implement that, microsoft implement pgm as part of msmq. we can also use the original openpgm that zeromq is using and that way it will compatible with zeromq pgm.

you can check out at this project how to use pgm with .net
http://code.google.com/p/emcaster/

[2012-11-07 15:44] somdoron opened #10 "Error handling - request for opinion"
I would like to hear your opinion, should we use the same error handling as the original project (error codes) or throw exceptions every time the original code set an error code. their are pros and cons to both ways.

Error code - easier to port code from the original code.
Exceptions - the native .net way.

What do you think we should do?

[2012-11-07 17:43] #1 closed, assigned to nobody

[2012-11-07 23:23] jgoz opened #11 "NuGet packages"
This project should be available on NuGet once it is close to being releasable. There will probably be at least two packages:
- netmq (core project)
- netmq.clrzmq (clrzmq compatibility layer)

More might come up as the solution progresses.

[2012-11-08 10:44] reiroldan opened #12 "PowerCollections Removal"
I'm not quite sure why the project is using PowerCollections. There are two classes used from this assembly: Deque<T> and MultiDictionary<Key, Value>.

Couldn't we replace these with simply Stack<T> to replace Deque<T> and a Lookup<TKey, TElement> for MultiDictionary<Key, Value>. I believe they provide exactly the same functionalities as those provided by PowerCollections.

Thoughts?

[2012-11-08 11:26] reiroldan opened #13 "Code Comments"
For public methods/properties/events we should resort to the .net documenting convention of :

/// \<summary>
/// The comment
/// \</summary>
/// \<param name="obj">Use for something\</param>
/// \<returns>The return is blah\</returns>

Private methods don't need to be documented this way. Private fields/properties/events can be commented as with simple comments.

Just a suggestion.

Thoughts?

[2012-11-08 11:29] somdoron opened #14 "change the zmq project to NetMQ.zmq"
thoughts?

Also all the classes should be internal on the project except the ZMQ static class, SocketBase and the enums.

[2012-11-08 12:35] #14 closed, assigned to somdoron

[2012-11-08 13:09] somdoron opened #17 "High level implementation - open discussion"
- Implement all sockets type
- Document the methods
- Poller - Poller will be able to listen for messages, handle proxies and raise montirong event on a thread
- MonitoringSocket
- Proxy
- Devices

[2012-11-11 13:48] tobi-tobsen opened #20 "System.IndexOutOfRangeException using Push sockets"
# Context:

I tried porting the libzmq performance tests since the netmq readme (https://github.com/zeromq/netmq#netmq) suggested these are missing and I were curious and wanted to help you guys).

I created the throughput test along the lines to the original libzmq version. If you want I can create a pull request from that commit: https://github.com/tobi-tobsen/netmq/tree/perf_throughput
# Bug:

[2012-11-11 14:03] tobi-tobsen opened #21 "Closing the socket and terminating the Context blocks indefinitely"
# Context

I was playing with the ConsoleApplication1 and notices that neither the context nor the sockets are properly closed/disposed.

Knowing the strange closing semantics and pedantic behavior of the original libzmq terminate, I tried out properly closing a socket and the context.
# Bug

Closing the sockets and terminating the context doesn't work - it blocks indefinitely (even after setting

[2012-11-11 18:34] #12 closed, assigned to nobody

[2012-11-11 18:53] #20 closed, assigned to nobody

[2012-11-11 18:58] #21 closed, assigned to nobody

[2012-11-11 19:06] tobi-tobsen opened #25 "Received messages via push/pull are empty"
# Bug

Received messages via push/pull are empty. Both the `Size` property as well as the length of the `Data` byte[] property are 0.
# Steps to reproduce
- get the performance test from #24
- compile the solution
- run the following: local_thr.exe tcp://127.0.0.1:4711 300 1000
- run the following: remote_thr.exe tcp://127.0.0.1:4711 300 1000

[2012-11-11 21:11] #5 closed, assigned to somdoron

[2012-11-11 21:56] somdoron opened #26 "Collection was modified; in pollerbase"
in pollerbase line 147  removing timer element while iterating the timers.

reproduce: try to run the remote_thr without the local_thr.

Unhandled Exception: System.InvalidOperationException: Collection was modified;
enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resour
ce)
   at System.Collections.Generic.List`1.Enumerator.MoveNext

[2012-11-12 18:12] #25 closed, assigned to nobody

[2012-11-12 21:06] tobi-tobsen opened #30 "Interoperability: Exception in PollerBase.ExecuteTimers upon message reception"
# Context

After implementing the performance tests, I was curious how big the latency of netmq is compared to that of the original libzmq (actually, not bad).
After playing around with the original performance tests of zeromq 2.2.0 (downloaded from http://www.zeromq.org/distro:microsoft-windows).

I tried to run the local_lat.exe from zeromq and the remote_lat.exe from netmq and discovered that t

[2012-11-14 08:30] somdoron opened #32 "io completion ports - open discussion"
a discussion about how to implement io completion ports.

in my opinion there are 3 ways to implement the io completion ports, each one with cons and pros:
1. not using dedicated thread to zeromq, all the poller work will be done on the callback (completed events) which is a thread pool thread. this solution is pure .net, the disadvantage is that because this is done on multiple threads and each o

[2012-11-14 13:14] #30 closed, assigned to nobody

[2012-11-14 13:14] #26 closed, assigned to nobody

[2012-11-15 10:04] somdoron opened #34 "remove current pinvoke method and replace with .net native"
there around 8 calls to pinvoke, most of them can be replaced and some of them can be removed because it's not important enough.

[2012-11-15 13:56] #6 closed, assigned to nobody

[2012-11-19 10:52] #34 closed, assigned to nobody

[2012-11-26 16:10] #9 closed, assigned to somdoron

[2012-11-27 10:44] somdoron opened #38 "Add timer feature to the high level poller"

[2012-11-27 10:44] somdoron opened #39 "Add remove to the high level poller"

[2012-11-27 10:45] #17 closed, assigned to somdoron

[2012-11-30 10:27] somdoron opened #40 "Remove the (out bool more) from all receive methods and use More property on the socket?"
I have to admin that it is very annoying, i want to remove it from all receive methods and move the property to the options class.

what do you think?

[2012-12-17 10:07] #38 closed, assigned to nobody

[2012-12-17 10:08] #39 closed, assigned to nobody

[2013-01-22 23:49] fredzyda opened #45 "NetMQ.zmq.Utils.Realloc broken!"
The method NetMQ.zmq.Utils.Realloc() uses Buffer.BlockCopy, which is invalid if the type of the array is not a primitive type. This throws an unhandled exception in NetMQ.zmq.Trie.realloc() when it is called in NetMQ.zmq.Trie.Add. This prevents subscription sockets from working. See Buffer.BlockCopy documentation here: http://msdn.microsoft.com/en-us/library/system.buffer.blockcopy.aspx

[2013-02-27 08:51] #45 closed, assigned to nobody

[2013-02-27 08:53] #10 closed, assigned to somdoron

[2013-03-15 14:46] #40 closed, assigned to nobody

[2013-03-16 10:43] #11 closed, assigned to nobody

[2013-04-01 21:32] maxfridbe opened #51 "Queueing examples"
Are there any examples of publisher sockets publishing and then a subscriber connecting after a delay and then dequeuing those messages.  I tried setting                 pubSocket.Options.SendBuffer but the messages are lost.

What am I missing?

[2013-04-13 16:59] #51 closed, assigned to nobody

[2013-04-23 09:24] jlibin opened #52 "Req to Router Bug"
ReceiveMessage on Router throws an exception.

[2013-04-25 04:22] #52 closed, assigned to nobody

[2013-04-29 18:49] cwoode opened #57 "Too many exceptions being thrown in FQ::RecvPipe"
[code]

The sole purpose seems to be: (Router::XHasIn())

[code]

used in Router.cs. Won't it be faster/cheaper to just return -1 (or some other predefined constant to indicate false?

https://github.com/zeromq/libzmq/blob/master/src/fq.cpp
https://github.com/zeromq/libzmq/blob/master/src/router.cpp

[2013-06-14 20:00] almazik opened #62 "Reduce the number of overloads on IOutgoingSocket and NetMQSocket"
The `IOutgoingSocket` interface and `NetMQSocket` class will be much cleaner if they contain the most functional method declarations only.

I suggest to move most of the overloaded methods on NetMQSocket class to a separate extension methods class, leaving the following ones:
- `void Send(byte[] data, int length, SendReceiveOptions options)` (all `SendMore` and `SendMessage` methods can be declare

[2013-06-14 20:13] almazik opened #63 "Make the API unit-test friendly"
In order to allow unit test the code that uses ZeroMQ the interfaces for key classes (context, socket) should be defined, so that client code could use the functionality using interface references only.

[2013-06-14 20:30] almazik opened #64 "Create lazy ReceiveAll implementation"
Current `ReceiveAll` and `ReceiveAllString` methods receive all messages before returning control to caller.

In order to receive all messages in a lazy manner I suggest to define the `IEnumerable<byte[]> ReceiveMessages(this NetMQSocket socket)` extension method for `NetMQSocket` class (or something like `IReceiveSocket` interface if #63 is taken into account) that does `yield return` for each me

[2013-06-16 07:01] #64 closed, assigned to nobody

[2013-06-17 08:18] #57 closed, assigned to nobody

[2013-06-21 08:04] cjuniet opened #70 "Calling NetMQ.Proxy.Start() will throw a NullReferenceException"
NetMQ.Proxy can't be started at all because ZMQ.Poll throws a null ref when called with an infinite timeout. The null ref is on the stopwatch which is used to compute the current timeout but it was never instanciated in this case.

StackTrace:

[code]

[2013-06-21 10:25] #70 closed, assigned to almazik

[2013-06-21 17:00] tobi-tobsen opened #72 "PGM Tests not always passing"
I noticed the followings while trying to reproduce some strange behaviours:
- The tests involving PGM Sockets only work when the VisualStudio (or the NunitTestrunner) has administrator rights.
- The test Sending1000Messages takes forever and won't finish. A background worker sits waiting on the NetMQ.zmq.Signaler.WaitEvent(int timeout) method while 998 messages have been sent. Specifically the thr

[2013-06-21 22:44] cjuniet opened #73 "Proxy throws when Context is disposed"
NetMQ.Proxy cannot exit cleanly when the Context is disposed because its sockets wil throw TerminatingExceptions. It can be seen by running the unit test TestProxySendAndReceive under the debugger.

[2013-06-22 17:04] #73 closed, assigned to nobody

[2013-06-22 17:04] #62 closed, assigned to nobody

[2013-06-23 09:52] somdoron opened #75 "ZeroMQ 3.2.3, ZMTP 3.0 and Stable version"
It's more of a discussion then an issue...

Recently new version of zeromq was released, the version (3.2.3) contains only bug fixes, do you think we should go over all the relevant commits on the 3.2.3 version and add them as issues to netmq tracker?

Do you think the current trunk is stable? at my work we are using NetMQ but not yet in production...

ZeroMQ is going towards ZMTP 3.0 with some ex

[2013-06-24 17:21] somdoron opened #76 "NetMQScheduler"
I will be very nice to have scheduler which schedule tasks on NetMQ inproc socket.

Instead of creating inproc protocol to communicate between threads we would be able to run methods on the inproc socket just like TPL does.

[2013-06-25 17:14] #76 closed, assigned to nobody

[2013-06-28 15:25] GianniBortoloBossini opened #82 "Socket classes need Subscribe/Unsubscribe methods, but they throw an exception"
For example, watching the ResponseSocket class.
This class needs to override Subscribe/Unsubscribe methods. These features are for Subscriber sockets and not for every kind of socket, are you agree?
So could be better not implement these methods only to throw an exception.

[2013-06-29 11:56] tobi-tobsen opened #83 "Spelling issues in the readme.md"
Although I am also not a native speaker, I stumbled upon some minor spelling mistakes and I tried to improve the readme.

Maybe some native speaker can even improve it further. I think this is important to get right since it is the front page of the project.

Will attach pull request in a minute...

[2013-06-29 13:21] #83 closed, assigned to nobody

[2013-07-11 16:46] GianniBortoloBossini opened #88 "Create new samples according to ZeroMQ guide"
Reading the ZeroMQ guide, many topics have examples of code implemented using  clrzmq and someone hasn't a C# implementation.

[2013-07-17 15:51] reiroldan opened #89 "Socket Identity not honored when using InProc"
I've not tested this thoroughly just yet, but it seams that when using the InProc transport, the connecting socket's identity is ignored for Router sockets.

Both setting the identity before or after connecting exhibits the same behavior.

[2013-08-01 11:35] reiroldan opened #94 "Binding a Subscriber socket will not receive from connecting Publishers"
Here is a simple test case to reproduce the issue. I've tried many combinations of sleep before connecting, binding etc, like:
- bind, sleep, subscribe, sleep, connect
- bind, subscribe, sleep, connect
- subscribe, bind, sleep, connect
  and no combination seams to work.

[code]

[2013-08-19 13:04] migueldeicaza opened #96 "License problem"
Hey guys,

Your choice of the LGPLv3 means that the code can not be used on embedded environments like iOS, PlayStation Mobile or systems like the Xbox or PS3 due to the LGPL incompatibility with the terms imposed by the various walled-garden agreements (perhaps even Android, but I have not read those terms in detail).

In an ideal world, you could use the Apache2 or MIT X11 license for the code,

[2013-08-26 11:45] meraydin opened #97 "NetMQMonitor sample"
I suppose this class is responsible for socket_connected, socket_disconnected, v.s. events. Is there any sample code about how to use this in a PUB/SUB model? (I'm looking for subscriber connected, disconnected events)

[2013-08-30 11:37] cncfanatics opened #98 ".NET 3.5 compatibility"
I write games using Unity 3D.

Unity 3D uses mono to run managed code, while the engine itself is written in another language.
This means all extra programming happens using mono. Unfortunatly, it's a rather outdated version of mono that doesn't have any of the features of .NET 4.0.

NetMQ refuses to run on it, is it possible to fix this ?

(I could possibly do this myself with some guidance on ho

[2013-09-23 13:49] matthiasgeller opened #99 "Missing interfaces"
U are using ReSharper... So maybe u could refactor some classes and extract some interfaces to be able to simplify writing unit tests using a mocking framework instead of always writing integration tests.

Really cool would be all classes which are using private constructors only (like the NetMQContext class).

Temporarily i am using adapters realizing fake interfaces to solve that problem... But

[2013-10-07 14:44] oldrev opened #101 "Can Poller implements interface IDispose?"
IMHO, class Poller should implements interface IDispose like clrzmq did.

A class that implemented interface IDispose is a convenience way to stop the internal running loop automatically when it gets disposed.

[2013-10-19 01:33] JamesWHurst opened #104 "What is the purpose of Thread.Sleep within ZMQ.Poll ?"
In module ZMQ.cs, method Poll(PollItem[], int, int), I'm a bit confused by the purpose of Thread.Sleep here, as it would seem to accomplish nothing other than to delay the method from returning. Below is the code..

[code]

I'm tinkering with the code trying to see how hard it would be to make it work with the version of .NET provided with Windows Store apps, and Sleep is a not available. The solu

[2013-10-19 15:49] JamesWHurst opened #105 "Can this be made to build/operate with a Windows Store app?"
I see that there is a _lot_ of incompatibilities within this code, with the API that's available for a Windows Store app, or to take advantage of the Windows 8 / Server 2012 platforms. Is this something that anyone has plans to tend to, or does anyone else have an immediate need to use NetMQ on this platform?  Or, is there any specific reason that it would not be appropo for the Win8 or WinRT plat

[2013-11-12 13:01] #101 closed, assigned to nobody

[2013-11-12 13:02] #88 closed, assigned to nobody

[2013-12-06 14:54] ghost opened #109 "Please sign the NetMQ.dll with a Strong Name"
Please sign the NetMQ.dll with a Strong Name.  I'm downloading it via NuGet.

  <package id="NetMQ" version="3.3.0.8" targetFramework="net40" />

[2013-12-12 20:36] #104 closed, assigned to nobody

[2013-12-12 20:41] #2 closed, assigned to nobody

[2013-12-12 20:42] #96 closed, assigned to nobody

[2013-12-12 20:44] #82 closed, assigned to nobody

[2013-12-12 21:23] #97 closed, assigned to nobody

[2013-12-13 14:11] #94 closed, assigned to nobody

[2014-03-17 13:40] ChrisWhiten opened #117 "Possibility that continuously blocking .ReceiveString() call is stopping the containing thread from being shut down."
I have a thread dedicated to watching a queue with NetMQ for incoming messages and performing various actions with the incoming data.  Essentially, it just continuously loops, calling NetMQSocket.ReceiveString() and passing off the result to a separate service.  I'm finding that when I want to kill the thread, things are not getting cleaned up properly and the thread is actually never killed.  Thi

[2014-03-17 16:09] #117 closed, assigned to nobody

[2014-04-07 13:35] ashic opened #118 "NetMQScheduler and lots of clients"
With a lot of clients hammering down, the scheduler is creating too many push sockets (I think). 1025 or so threads results in an EMFILE (too many sockets) error. Looking at the code for the scheduler, I do wonder if using .NET mechanisms would not have performed as well or better. I'll try to have a look at this, but was wondering if anybody else has come across this.

[2014-04-07 13:43] ashic opened #119 "Exceptions for flow control"
I think this might have been discussed before, however the exception throwing on any error is a bit annoying to deal with when polling. Yes, for zero stuff, we can definitely use a poller, but being able to check if a socket has a message or not can be useful if we wish to, say, work with a BlockingCollection or ConcurrentQueue. Currently, the only way to do that seems to be to receive with dontWa

[2014-04-07 14:16] #119 closed, assigned to nobody

[2014-04-09 01:57] dnallicus opened #120 "setting CurrentThread.Name can cause exceptions"
the Poller sets the current thread's name when you call start:

[code]

Thread's can only have there name set once in .net.  It would probably make sense to either omit this line, or check if the thread's name hasn't been set yet before setting here, otherwise it will throw.

If people are ok with it, I will make this change.

[2014-04-09 08:21] reiroldan opened #121 "tcp://*:5000 vs tcp://localhost:5000 vs tcp://127.0.0.1:5000 vs tcp://<compname>:5000"
As per dnallicus post on the mailing list:

Hi,

I am converting a project from clrzmq to NetMQ and I am running into issues with interface names in my TCP connections.  In clrzmq, binding to tcp://_:5000 means I can reach that socket using tcp://localhost:5000 or tcp://<compname>:5000, where <compname> is the dns host name of the computer.  In NetMQ, binding to tcp://_:5000 seems to only connect

[2014-04-21 01:16] mattconnolly opened #122 "Message sent from a closed socket."
I have an app with a REQ socket talking to a ROUTER. It makes a request, and if no response is received during a certain time, the socket is closed and a new request is sent on a new socket. This fulfils the 1 request : 1 response finite state machine in the REQ socket and is a standard ZMQ practice as far as I'm aware. In this way, the service with the ROUTER socket can be restarted mid request-r

[2014-04-21 20:23] #120 closed, assigned to nobody

[2014-04-23 06:07] #122 closed, assigned to nobody

[2014-05-04 10:04] suniltholia opened #124 "Support for Windows phone"
I tried to install NetMQ with Nuget installer and it was failed to install. It is giving following error.
Could not install package 'NetMQ 3.3.0.8'. You are trying to install this package into a project that targets 'Silverlight,Version=v4.0,Profile=WindowsPhone8', but the package does not contain any assembly references or content files that are compatible with that framework. For more informatio

[2014-06-05 12:11] Papay opened #125 "Event ConnectDelayed throw NullReferenceException"
I'm using NetMQMonitor for SubscribeSocket. I'm subscribe for SocketEvent.ConnectDelayed.
When I start NetMQMonitor application was crashed.
Crashed because in NetMQMonitor.cs throw NullReferenceException in method Handle:

[code]

When I debug this code I see that: monitorEvent.Arg == null

[2014-06-12 10:48] tmuthmann opened #126 "invalid socket in NetMQMonitor Disconnected event"
The following example uses a ROUTER server and two DEALER clients connecting the server on localhost.
I want to log all connects and disconnects from the server and all clients and used NetMQMonitor for this.

The Problem now is that the first call of repmon.Disconnected (after closing client1) has an useable socket, but on the second call of repmon.Disconnected (after closing client2) the socket

[2014-06-13 15:34] #4 closed, assigned to nobody

[2014-06-13 15:35] #3 closed, assigned to nobody

[2014-06-13 15:36] #75 closed, assigned to nobody

[2014-06-13 15:36] #32 closed, assigned to nobody

[2014-06-14 08:46] #125 closed, assigned to nobody

[2014-06-14 08:53] #118 closed, assigned to nobody

[2014-06-14 08:55] #109 closed, assigned to nobody

[2014-06-14 08:57] #8 closed, assigned to nobody

[2014-06-24 09:05] #121 closed, assigned to nobody

[2014-07-01 19:30] edward-ellis opened #130 "LazyPirateClient never terminates"
While trying to learn about the lazy pirate sample I tried terminating the server to see if the client would exit as advertized.  It doesn't exit.  When trying to dispose of the context the Ctx.Terminate makes a call:

The mailbox makes the call:

The signaller makes a call:

The result is that we've called Poll on the socket with a timeout of -1000 milliseconds.  I don't think that is an appropri

[2014-07-17 14:02] thmaterna opened #131 "Pollers kept alive after being disposed of"
Hi,

I migrated a project from clrzmq to NetMQ and needed a way to Poll just once at a time. I understand that NetMQ is not meant to work that way but it makes it easier to migrate the library before refactoring into a more NetMQ-like logic.

I first tried to start/stop, then restart the Poller, but that doesn't work since the `m_cancellationTokenSource` in the Poller is readonly. There is no way,

[2014-07-18 13:45] #131 closed, assigned to nobody

[2014-07-18 15:36] #130 closed, assigned to nobody

[2014-08-08 16:08] dkrikun opened #137 "zeromq versions compatibility"
Hello,

What libzmq versions are compatible with NetMQ? In particular, does NetMQ supports zeromq-4.x features, like security mechanisms and ZMQ_CONFLATE?

Thanks,

[2014-08-11 13:49] FreeWillaert opened #138 "NullReferenceException in DecoderBase.ProcessBuffer"
When using PGM with a very high MulticastRate (or perhaps, when processing a _lot_ of messages), from time to time the subscriber gets a NullReferenceException and crashes.

There's no further info, so I grabbed the zip containing the source and compiled that.
Strangely, it seems the exception occurs much less in this scenario, but after some time, the NullRefExc occurs in
   class DecoderBase,

[2014-08-11 16:52] #137 closed, assigned to nobody

[2014-08-11 18:20] #138 closed, assigned to nobody

[2014-08-11 19:45] tobi-tobsen opened #142 "Potential NullReferenceException in NetMQMonitor"
_I think I should stick to the c4 process more, so I am creating the this issue due to_

Trivial Change: I created the #141 to prevent a potential NullReferenceException when subscribers are unsubscribing from the NetMQMonitor while the NetMQMonitor raises an event.

[2014-08-11 20:39] #142 closed, assigned to nobody

[2014-08-29 08:51] Vidarls opened #144 "Tcp transport to socket running in child task"
This is a weird one, and might be due to me not having the complete understanding of _how stuff works_.

I have a host process that kicks of an arbitrary number of child tasks (`System.Threading.Task.Task` that is) each hosting a NetMQ socket for receiving work.

The host needs to be able to send a message to these child tasks, but most requests will come from other clients.

In testing I used ìnp

[2014-09-07 17:42] tobi-tobsen opened #151 "Rebuild for perftools doesn't trigger rebuild for NetMq"
This may result in the perf tools running wiht an old netmq.dll due to "copy locally" flag.
Will submit a pull request in a minute.

Also the some of the samples are using a wrong reference which may result in build errors.

[2014-09-07 18:16] #151 closed, assigned to nobody

[2014-09-09 11:30] dydimos opened #153 "netMQ on Raspberry Pi compiling, but Samples throw errors"
Hello,

I compiled netMQ on my raspberry pi, but when I start for instance the helloworld-example, I get a System.IndexOutOfRangeException. What may be the problem here?

<pre>
pi@raspberrypi ~/zeroMQ/netmq/src/Samples/HelloWorld/bin/Debug $ mono HelloWorld.exe

Unhandled Exception:
System.IndexOutOfRangeException: Array index is out of range.
  at System.ServiceModel.Channels.BufferManager+Defaul

[2014-09-09 13:10] #153 closed, assigned to nobody

[2014-09-25 16:52] TheCuriousGuy opened #157 "Socket startpoint"
NetMQ does not support "Socket Start Point"

This feature allows specifying the originating port and ip for the port used by the system when binding initial socket, this can be used in the connect and bind commands.

These feature has been discussed in 0MQ for a while and has been implemented on April 2014, but is not yet supported in NetMQ.

0MQ discussion and commits - http://grokbase.com/t/zero

[2014-10-28 18:44] somdoron opened #164 "Call for maintainers"
As you know the NetMQ project is very active project, however currently we are only 3 active maintainers and we need more to merge pull requests faster.

So if you have good understanding in NetMQ/ZeroMQ, active member or sent a pull request in the past and like to help click that lovely green "Merge Pull Request" button add a comment confirming that you've read and understand the C4.1 process at

[2014-10-29 20:56] JefStat opened #165 "inproc protocol requires bind before you can connect."
Following the guide example using a QueueDevice with blocking device mode you cannot start your threads since they will call connect likely before you start the queue which undermines using the blocking device mode.
http://zguide.zeromq.org/cs:mtserver

[2014-10-30 08:54] #7 closed, assigned to nobody

[2014-10-30 08:54] #72 closed, assigned to nobody

[2014-11-02 16:33] #98 closed, assigned to nobody

[2014-11-02 22:13] somdoron opened #169 "NetMQ documentation project"
I started a new documentation project for NetMQ, at the moment it's pretty empty, you can find it at http://netmq.readthedocs.org.

So if you want to help NetMQ grow, become part of a successful project and push a side all of those WCFs and MSMQs, this is the place to start!

So to contribute:
1. Pick a topic (from the left side bar) or add a new one
2. Clone the NetMQ project
3. Edit one of the f

[2014-11-24 08:48] Phille88 opened #176 "Closing and reopening connections"
Hi,

For a project I'm working on, I was testing the case of closing en reopening connections:
[code]
[code]

However, when I attach with a debugger, the test is executed slower, and i don't get any exception. Am i using this incorrectly. It is quite important for my project to let this test succeed.

Thanks in advance!

Kind regards,
Philippe

[2014-11-29 15:59] somdoron opened #181 "Actor api is complicated"
- It's include a generic parameter which is not needed because we can use the ctor of shim handler
- it's not following the standard of NetMQ in the beginning of the class
- There is no action (delegate) version

Suggested solution: Create simplify NetMQActor and mark Actor as obsolete.

[2014-11-29 16:00] somdoron opened #182 "Poller start and stop methods are misleading"
Start should be called  PollTillCancel and Stop should be called Cancel.

[2014-12-04 23:45] mbergin opened #184 "NetMQException is not serializable"
It would be useful if NetMQException were serializable, for example when running tests in another AppDomain.

[2014-12-07 14:04] #184 closed, assigned to nobody

[2014-12-09 09:31] #181 closed, assigned to nobody

[2014-12-09 09:31] #182 closed, assigned to nobody

[2014-12-10 22:13] samcov opened #186 "Full Duplex"
I looked on Stack Overflow with no success.

The closest thing I found says that you will need to open two sockets, in other words two one way channels to achieve full duplex.

Is there a full duplex example out there somewhere, and is that basically true to get full duplex?

[2014-12-11 09:43] #186 closed, assigned to nobody

[2014-12-16 11:12] mirror222 opened #188 "Maximum concurrent connections?"
I was testing the maximum concurrent connections that the netmq can handle:

<pre><code>
using System;
using NetMQ;
using System.Numerics;
using System.IO;
using System.Text;

namespace HelloWorld
{
    class Program
    {
        private static void Main(string[] args)
        {
            BufferPool.SetBufferManagerBufferPool(1024 * 1024 * 10, 1024);

            using (NetMQContext ctx = NetMQ

[2014-12-28 16:22] mellson opened #190 "PCL (Portable Class Library) profile 78 support"
Is it possible to add support for PCL profile 78?
This would make it possible to use NetMQ with the new unified api's from Xamarin.

[2015-01-03 04:50] neozeed commented on #98
I started to play around with Kerbal Space program, a which is powered by Unity3d, and I wanted to take a plugin, namely <a href="//https://raw.githubusercontent.com/zitron-git/KSPSerialIO/master/KSPSerialIO/KSPIO.cs">KSPIo</a>, and convert it to using some kind of messaging.  Naturally mono doesn't support Win32 named pipes, so I thought I'd try netmq.  I downloaded the zip file from <a href="htt

[2015-01-03 08:24] somdoron commented on #98
You are actually doing ok, NetMQ is using AsyncIO, which uses guid in a way
that mono doesn't support, I fixed that but need to release a version and
netmq to use that. Anyway you can download the source code from following
link, it should work:

https://github.com/zeromq/netmq/pull/175

and compile netmq.unity

On Sat, Jan 3, 2015 at 6:50 AM, neozeed <notifications@github.com> wrote:

[2015-01-03 15:38] neozeed commented on #98
Wow that did it!

I'm now exporting my telemetry data from my rocket!  This is totally awesome!

I don't know why, but i had to manually add the project NetMQ.Unity to the master project, but again it compiles in 1 second, and works!

Thank you so much for your help!!!!

[2015-01-08 13:34] panuhorsmalahti opened #194 "NetMQSocket implements IDisposable but is missing a finalizer"
The best practice for a class that implement the IDisposable interface is to implement a finalizer (more on this [here](http://msdn.microsoft.com/en-us/library/vstudio/b1yfkh5e%28v=vs.100%29.aspx]) ). NetMQSocket is missing one (and this is not documented anywhere from what I've seen).

[2015-01-09 15:05] xzhigewu opened #195 "The NetMQSocket.InvokeEvents(object sender, PollEvents events) in NetMQ3.5 problem"
Hi,
I use the RouterSocket of NetMQ3.5 and RouterSocket.Poll to check data receive.But I meet some problem.

    public abstract class NetMQSocket : IOutgoingSocket, IReceivingSocket,ISocketPollable, IDisposable

        internal void InvokeEvents(object sender, PollEvents events)
        {
            if (!m_isClosed)
            {
                m_socketEventArgs.Init(events);

[2015-01-12 07:45] somdoron commented on #195
Can you provide code to reproduce?

On Fri, Jan 9, 2015 at 5:05 PM, xzhigewu <notifications@github.com> wrote:

[2015-01-12 07:47] somdoron commented on #194
@panuhorsmalahti can you provide a fix?

[2015-01-12 10:45] panuhorsmalahti commented on #194
I'm actually unsure if the class should implement a finalizer. Microsoft's best practice seems to differ from the opinion that a class shouldn't implement a finalizer if it doesn't contain unmanaged resources. However, apparently "the disposable pattern" is still recommended.

[2015-01-12 16:13] xzhigewu commented on #195
Hi, flowing is my code to reproduce.The project's reference use the NetMQ3.5.

        static void Main(string[] args)
        {
            using (NetMQContext ctx = NetMQContext.Create())
            {
                using (var server = ctx.CreateRouterSocket())
                {
                    server.Bind("tcp://127.0.0.1:5556");
                    server.ReceiveReady += (sender, e) =>

[2015-01-12 19:26] ndextraze-pbp opened #196 "A subscriber socket that get disconnected block its context from being disposed"
NetMQ version: nuget package 3.3.0.11

Here is the failing test I have.

[code]

The code never gets to writing "Subscriber ctx disposed." as the context dispose is blocking.

Thanks.

[2015-01-12 19:38] sachabarber commented on #196
I am sure Doron will answer this one, but this code looks invalid for me. There should only be one Context created not 2. The context should live for duration of the the sockets being used that were created from it.

[2015-01-12 19:45] ndextraze-pbp commented on #196
I am creating two contexts to reproduce real situation where I'll have a service and a client applications. Those two applications would not create the sockets in the same context.

This code works with netmq v3.3.0.10 but not 3.3.0.11.

[2015-01-12 19:46] ndextraze-pbp commented on #196
Additional information: The subscriber context does dispose if the subscriber socket gets back to a Connected state (ie. the publisher endpoint gets back up)

[2015-01-12 19:59] somdoron commented on #196
Can you test if the problem still exist when compiling from master?

On Mon, Jan 12, 2015 at 9:46 PM, Nicolas Dextraze <notifications@github.com>
wrote:

[2015-01-12 20:10] somdoron commented on #196
@ndextraze-pbp I think I found the issue, I have a pending pull request with the fix, you can use following repository for now:

https://github.com/somdoron/netmq

[2015-01-12 20:19] somdoron commented on #195
@xzhigewu I actually already fixed the issue in the past, but it never made it into the main repository.

I fixed it again, I have a pending pull request, for now you can use the following repository with the fix:

https://github.com/somdoron/netmq

[2015-01-12 21:02] somdoron commented on #194
@panuhorsmalahti I think it ok to follow the dispose pattern (I usually try to follow)

[2015-01-12 21:12] ndextraze-pbp commented on #196
It does work with that repository code.
Do you know when the next nuget package release will be?

[2015-01-12 21:38] somdoron commented on #196
By the end of the week, working on that.
On Jan 12, 2015 11:12 PM, "Nicolas Dextraze" <notifications@github.com>
wrote:

[2015-01-12 22:48] ndextraze-pbp commented on #196
Cool.

I also have some random context Disposing issue with the same version of the library. My sockets are not instrumented with monitoring so I can't know if they fail with the same state as this bug. I would say that 20% of the time I have a context that block on Dispose with the same tests working 80% of the time. Anyway I've read your blog about IOCP and it looks promising, hopefully that wil

[2015-01-13 06:14] ijrae opened #197 "Setting RouterMandatory on RouterSocket causes InvalidException"
Setting `ZmqSocketOptions.RouterMandatory` on a `RouterSocket` results in an `InvalidException`, for instance the following code doesn't work:
[code]
I believe the problematic code is at `NetMQ\zmq\Patterns\Router.cs` line 153:
[code]
The second `else if` should check for `ZmqSocketOptions.RouterMandatory`, not `RouterRawSocket`.

[2015-01-13 06:17] ijrae commented on #197
Ah, nevermind, I see a fix for this is in pull request #192.

[2015-01-13 06:17] #197 closed

[2015-01-13 09:40] geopars opened #198 "Potential Large Object Heap issue?"
Hi,
I have recently come up with an issue of Large Object Heap on the StreamEngine and I would like to check if it is just my bad.

I have a simple design of a QueueDevice to which a number of ResponseSockets are connected. The sockets receive a request from a client to transmit some large data, and they respond accordingly. What I notice after some small check with ANTS is that the more responds

[2015-01-13 10:07] leverate-somech commented on #198
there is a memory bug, we might already solved it, try to reproduce from following source:
https://github.com/somdoron/netmq

[2015-01-13 10:34] geopars commented on #198
Thanks, I will give it a go.

[2015-01-13 10:59] barzto opened #199 "OpCode.Open() crash in Unity @ OSX"
Hi guys,

we're using NetMQ on Unity (primarily targeting iOS, but also running it on OSX desktop for testing/developing purposes, as it has shorter iteration time). We've encounter Unity crash after calling  (Dealer)Socket.Connect() when running on OSX (in Unity Editor/Desktop Player).

We've tracked the issue to `OpCode.Open()` method, namely to place where `mmap()` is called.

[code]
It fails f

[2015-01-13 11:52] geopars commented on #198
I retested it. The problem still persists. If you are transferring large byte arrays (unless you divide them into smaller parts) the ByteArraySegment of m_inpos at the StreamEngine will continue growing the LOH. I am not sure if this is by design though.

I would appreciate an opinion in order to close the issue.
Thanks

[2015-01-14 13:26] somdoron commented on #198
Can you provide code to reproduce?

On Tue, Jan 13, 2015 at 1:52 PM, Georgios Paraskevas <
notifications@github.com> wrote:

[2015-01-14 13:29] somdoron commented on #199
@barzto I'm not big fun of it myself, it's a port from the original project, I will look into removing it soon.

Can you provide a pull request with the patch you have made?

[2015-01-14 18:22] exzachtly1 opened #200 "Exceptions from NetMQ causing application crashes"
Hello,
We are using NetMQ (latest nuget package v3.3.0.11) in an ASP.NET WebAPI application to send messages using the Push/Pull pattern. We have been running this way with success for some time, but over the past week or so have noticed one of our environments beginning to have application crashes on a fairly regular interval. When these exceptions occur the application pool crashes and generates

[2015-01-15 14:50] somdoron commented on #200
most of the stuff already solved, try to compile from https://github.com/somdoron/netmq.

Hopefully in the weekend I will release a new RC version.

[2015-01-15 17:21] barzto commented on #199
Here we go: https://github.com/zeromq/netmq/pull/202

[2015-01-15 19:35] exzachtly1 commented on #200
Thank you somdoron, I appreciate the reply! We have temporarily switched to HTTP based messaging but would like to continue using NetMQ. I'll check the RC version next Monday and see how it goes.

From what I have shown you, do you see any misuse in our code? Are we handling connection state correctly? It seems like it happens when many connections are opening / closing in a short time frame. My t

[2015-01-16 16:11] somdoron commented on #200
it seems fine. the exception not being serializable was fixed some time ago, I think the argument exception was fixed as well.

[2015-01-16 16:11] somdoron commented on #199
thanks

[2015-01-16 16:11] #199 closed

[2015-01-18 06:54] somdoron commented on #200
@exzachtly1 netmq v3.3.0.12 RC1 was released to nuget:https://www.nuget.org/packages/NetMQ/3.3.0.12-rc1.

Let me know if you still have issues

[2015-01-18 06:56] somdoron commented on #198
by the way you can also try to enable the buffer pooling, it might help. Any way let me know how to reproduce.

[2015-01-18 07:06] deanroker123 commented on #198
Hi Georgios, how big is big?

I had a problem with that, but the fix Doron did resolved it for me.

Thanks

Dean
On 13 Jan 2015 11:52, "Georgios Paraskevas" <notifications@github.com>
wrote:

[2015-01-18 07:19] somdoron commented on #198
@geopars can you check if following branch fix the issue?

https://github.com/somdoron/netmq/commits/LOH

[2015-01-18 18:32] geopars commented on #198
Hi guys,
First of all thank you for the replies!
I will give it a go within the next hours and I will send you an update.

Cheers,
George

[2015-01-19 04:15] betimer opened #204 "Randomly does not work in long distance"
HI,

I found a weird issue and it did not show any exception.
I use PUB/SUB pattern.
The PUB located in Hong Kong, while the SUB located in Bangkok.
The PUB sends netmq message around every minute.

The former is the background. Here is phenomenon:
The SUB works for a few days (from 2 to 5) and pending there, cannot get message any more.
However, if the SUB located in Hong Kong as well, this probl

[2015-01-19 06:20] somdoron commented on #204
Hi @betimer , I'm taking a guess that the subscriber connects and the publisher binds.

TCP is complex, the problem you have is that the connection actually drops but the subscriber doesn't know the connection is down. You have few solutions to this problem:

1. If appropriate you can make the subscriber binds and the publisher connects, the one sending messages is the one knows the connection is

[2015-01-19 06:31] betimer commented on #204
Thank you for your explanation.

Is there a function to check whether the connection is alive or not?
So that the subscriber could detect by itself and recover by itself.

[2015-01-19 14:07] somdoron commented on #204
As said you can enable tcp keep alive on a socket. Take a look at the
following test:
https://github.com/zeromq/netmq/blob/master/src/NetMQ.Tests/SocketTests.cs#L163

On Mon, Jan 19, 2015 at 8:31 AM, betimer <notifications@github.com> wrote:

[2015-01-19 14:15] deanroker123 commented on #204
Hi Doron will the keep alive, reconnect the client and resend the message
if necessary?

I implemented the lazy pirate pattern in my app, but was mostly thinking
about network disconnection, rather than application problems.

Because of this I have had to tune the timeouts of the lazy pirate to take
into account slow upload times for large messages on slow links, but that
makes disconnection slow

[2015-01-19 15:07] leverate-somech commented on #204
TCP keep alive will help recognize disconnection but won't resend messages. In my opinion application level solution is better when it is comes to disconnection. I actually prefer to recognize disconnection without a tcp keep alive, I use application keep alive from subscriber to publisher, subscriber then dispose the socket and create a new one if disconnection is recognized.

[2015-01-19 15:17] deanroker123 commented on #204
I am using request reply socket, rather than publisher subscriber so all I
can go on is the response time and configure my own timeout isn't?

How can the application know that the socket is disconnected and resend the
message if tcp keep alive fails?
On 19 Jan 2015 15:07, "leverate-somech" <notifications@github.com> wrote:

[2015-01-19 15:46] leverate-somech commented on #204
You don't and shouldn't, I think what you are doing is the correct solution. TCP Keep alive is important for long living connection, not for a single request and it doesn't change the level of reliability of TCP.

[2015-01-19 20:03] ndextraze-pbp opened #205 "NetMQMonitor hangs on stop if monitor exits due to an exception [netmq 3.3.0.12-rc1]"
Stopping the NetMQMonitor hangs if monitor exited due to an exception.

InternalClose can be called after an exception on MonitoringSocket, and the first call in InternalClose is on MonitoringSocket which will likely throw again. This call should be enclosed in a try/finally so that the monitor can stop properly.

private void InternalClose()
{
  try
  {
    MonitoringSocket.Disconnect(Endpoint);

[2015-01-20 07:50] somdoron commented on #205
@ndextraze-pbp can you provide a pull request?

[2015-01-20 09:22] betimer commented on #204
Thank you for every body here discussing it.
Actually i removed the server in distance to subscribe the publisher.
I will try the keep alive in next product with long distance, especially different countries.
I will chose this issue currently.
:)

[2015-01-20 09:22] #204 closed

[2015-01-20 16:22] ndextraze-pbp commented on #205
Yes I'll get one ready.
________________________________
From: Doron Somech<mailto:notifications@github.com>
Sent: ý2015-ý01-ý19 23:51
To: zeromq/netmq<mailto:netmq@noreply.github.com>
Cc: Nicolas Dextraze<mailto:ndextraze@paypoint.com>
Subject: Re: [netmq] NetMQMonitor hangs on stop if monitor exits due to an exception [netmq 3.3.0.12-rc1] (#205)

@ndextraze-pbp<https://github.com/ndextraze-pbp>

[2015-01-20 18:02] ndextraze-pbp commented on #205
Submitted a pull request to your repo at https://github.com/somdoron/netmq

[2015-01-20 18:21] ndextraze-pbp commented on #205
https://github.com/zeromq/netmq/pull/206

[2015-01-20 22:00] somdoron commented on #198
@geopars any news?

[2015-01-20 22:01] somdoron commented on #196
@ndextraze-pbp does the issue exist with the new version?

[2015-01-20 22:02] #195 closed

[2015-01-20 22:02] #194 closed

[2015-01-20 22:02] #188 closed

[2015-01-20 22:06] ndextraze-pbp commented on #196
No. It is working correctly with 3.3.0.12-rc1.

[2015-01-20 22:10] #205 closed

[2015-01-20 22:11] somdoron commented on #196
cool. closing the issue

[2015-01-20 22:11] #196 closed

[2015-01-20 23:30] geopars commented on #198
Hi Somdoron,
Your fix does the job. Tested it with big size files and it works smoothly.

[2015-01-20 23:30] #198 closed

[2015-01-21 13:34] drew-r opened #208 "CreateRequestSocket() CPU consumption"
Hi,
First off thanks for this project.
I am using the pre-release NuGet package 3.3.0.12-rc1 (.NET 3.5) and I am finding that a call to `CreateRequestSocket()` seems to result in unexpected CPU consumption.

When I exclude the following code block, the CPU usage returns to <2%. Otherwise it sits at 13% consistently.
[code]

Is this a known phenomena?

TIA

[2015-01-21 14:15] krisrok commented on #98
for later visitors looking for a unity compatible version: by now it works with the .net3.5 project in the master branch, no need to resort to somdoron's previous pull request. (working for win, osx and ios export).

[2015-01-21 17:14] somdoron commented on #208
@drew-r why did you close it? it is solved?

[2015-01-21 17:28] drew-r commented on #208
@somdoron No I have been trying to isolate the problem a bit better (hence edits).
It seems to occur on all socket types unless I wrap with `using (NetMQContext _context = NetMQContext.Create())` such that the context is disposed immediately after creation & usage.

[2015-01-21 17:30] somdoron commented on #208
Are you running on windows? Is it happening during the method call and then back to normal or still high all the time? Can you provide code to try and reproduce the issue?

[2015-01-21 17:32] drew-r commented on #208
Narrowed it down to .NET 3.5. Didn't occur under 4.5.
I've reproduced with the below:
[code]

[2015-01-22 01:56] uryy opened #209 "DeviceSocketSetup"
DeviceSocketSetup->SetSocketOption<T>(...)-> m_socketInitializers.Add(s => propertyInfo.SetValue(s, value, null));

it shuold be  m_socketInitializers.Add(s => propertyInfo.SetValue(s.Options, value, null));

[2015-01-22 06:35] somdoron commented on #208
I think I know what is causing this. Because ConcurrectQueue doesn't exist in .net 3.5 I'm using a regular queue with locks to get safe queue. Probably causing the issue. I will try to fix that soon.

[2015-01-22 06:39] somdoron commented on #209
@uryy can you provide a pull request?

[2015-01-22 22:33] drew-r opened #212 "Hang when disposing NetMQMonitor after TerminatingException"
I'm finding that a `NetMQMonitor` I'm using to detect disconnects, is hanging indefinitely when trying to Dispose if it encounters a `TerminatingException` after calling `.Start()`.

I'm working under .NET 3.5 but I see this in 4.5 also.

Code sample below:

[code]

It's monitoring a PULL socket. Any ideas?

[2015-01-23 07:50] somdoron commented on #212
@drew-r I think this was already fixed in #206, can you please compile from repository and check?

[2015-01-23 08:12] somdoron commented on #208
So the problem is that in dotnet 3.5 there is a bug with socket.select not blocking when called with -1.

[2015-01-23 08:30] somdoron commented on #208
@drew-r can you compile from https://github.com/somdoron/netmq/tree/dotNet35HighCPU and let me know it the issue is solved. Thanks

[2015-01-24 14:33] drew-r commented on #208
@somdoron this fixes. Nice work.

[2015-01-24 14:46] drew-r commented on #212
@somdoron this is fixed in the repo. thanks

[2015-01-24 14:46] #212 closed

[2015-01-25 13:33] #208 closed

[2015-01-25 13:33] #164 closed

[2015-01-29 18:48] hivanov opened #217 "NetMQ 3.3.0.11, XSUB socket with Poller Not Working"
The example provided in http://netmq.readthedocs.org/en/latest/xpub-xsub/ uses Proxy to bridge XPub and XSub sockets of the Intermediary. When using Poller and implementing the logic by hand, the Poller does not fire the ReceiveReady event of the XSub socket. The problem is with PUB-XSub socket pairs only (Pub-Sub works just fine).

[2015-01-29 18:51] ndextraze-pbp commented on #217
Can you reproduce the same issue with the code at https://github.com/somdoron/netmq.
(or update to netmq 3.3.0.12-rc1 using nuget)

[2015-01-29 18:52] hivanov commented on #217
3.3.0.12-rc1 has the same issue.

[2015-01-29 19:07] ndextraze-pbp commented on #217
The Poller doesn't trigger the ReceiveReady event for every message received by the XSub socket or only for the subscribe message?

[2015-01-29 19:11] ndextraze-pbp commented on #217
My bad that doesn't make any sense.

Did you send a subscribing message with the XSub socket first, otherwise it will never receive any messages. The subscription has to be done manually with the XSub socket.

[2015-01-29 19:17] somdoron commented on #217
Can you send your implementation?
On Jan 29, 2015 7:48 PM, "hivanov" <notifications@github.com> wrote:

[2015-01-29 20:25] hivanov commented on #217
I can send a reference example on Monday. In the meantime, here are some answers/clues:
1) My Intermediary component is started first (the socket has to be bound first before receiving any messages);
2) The Intermediary component does not report that it is ready until the Poller interface has been up and running;
3) My set-up (to see if everything is working correctly) is the following:
a) Interme

[2015-01-30 04:27] ghost opened #219 "ThreadPoolSize issue raised from AsyncIO"
Hi guys,
Whenever I set the threadpoolsize to a couple of threads I am getting a Win32Exception from the CompletionPort at the AssociateSocket Method.

The StackTrace is the following:
   at AsyncIO.Windows.CompletionPort.AssociateSocket(AsyncSocket socket, Object state) in c:\Users\geopars\Desktop\Code\github.async\trunk\Source\AsyncIO\Windows\CompletionPort.cs:line 78
   at NetMQ.zmq.Utils.Proac

[2015-01-30 08:31] somdoron commented on #219
Can you provide code so I can try to reproduce?
On Jan 30, 2015 5:27 AM, "Georgios Paraskevas" <notifications@github.com>
wrote:

[2015-01-30 08:46] somdoron commented on #217
You need to forward the subscription from the XPublisher to the
XSubscriber, if you are not doing that you will never get messages from the
subscriber.

On Thu, Jan 29, 2015 at 10:25 PM, hivanov <notifications@github.com> wrote:

[2015-01-30 08:57] geopars commented on #219
Yes of course. Let me put some code together.

[2015-01-30 09:40] hivanov commented on #217
How to do that? Is th

[2015-01-30 09:48] hivanov commented on #217
Sorry for closing the issue -- it may be documentation-related. How to distinguish between the regular and the subscription messages?

[2015-01-30 09:53] somdoron commented on #217
Listen for messages from the publisher and send them as is to the subscriber
On Jan 30, 2015 10:40 AM, "hivanov" <notifications@github.com> wrote:

[2015-01-30 09:58] geopars commented on #219
Ok, here is a rough  a rough idea of what we are doing.
Client (Request Socket) <---> Server (Queue Device)
Server (Queue Device)
       <--> Worker_1 (ResponseSocket)
        ....
       <--> Worker_N (ResponseSocket)

I put together a little messy example in order to show it in more detail.

    public class ResponseSocketWrapper
    {
        private readonly ResponseSocket _socket;

        pu

[2015-01-30 09:59] somdoron commented on #217
You listen for messages from xpub. If it starts with 0 or 1 is a
subscription or unsubscription send that include the first byte to the
xsub.
On Jan 30, 2015 10:48 AM, "hivanov" <notifications@github.com> wrote:

[2015-01-30 10:08] somdoron commented on #219
Will test it, what transport are you using for front-end and back-end?
On Jan 30, 2015 10:58 AM, "Georgios Paraskevas" <notifications@github.com>
wrote:

[2015-01-30 10:25] geopars commented on #219
Are you referring to the type of transport socket?

[2015-01-30 12:14] geopars commented on #219
Regarding the connection links they are standard tcp://*:port for the server and tcp://192.168.0.10:port for the client and workers

[2015-01-30 16:46] #217 closed

[2015-01-31 11:44] somdoron commented on #219
Can it be that the context get disposed? the queue start method is
unblocking, so if after creating the server you exit the scope of the
context it will get disposed which can explain the issue.

I tried to reproduce the issue without success (I used netmq master and not
nuget).

On Fri, Jan 30, 2015 at 2:14 PM, Georgios Paraskevas <
notifications@github.com> wrote:

[2015-01-31 14:55] geopars commented on #219
Thanks Doron, I will have a look at it now and I will let you know how it does.

[2015-02-02 04:58] geopars commented on #219
I checked the code according to your recommendation but the context wasn't getting disposed.
For the moment the code works fine when I am testing it with the nuget netmq (3.3.0.11). The above error shows only when I am running the server it with the latest netmq code (primarily because of the LOH fix).

The server is part of an RPC solution I put together for our needs. I am preparing the code and

[2015-02-02 05:18] somdoron commented on #219
Ok, once you have a repo let me know and I will try to fix that
On Feb 2, 2015 5:58 AM, "Georgios Paraskevas" <notifications@github.com>
wrote:

[2015-02-02 09:00] fsaremifar opened #220 "NetMQ.FaultException Causes Application to crash"
Hi guys,
I'm getting this exception from no where , it's happening randomly , not all the time , but it happens anyway on each time server runs,I'm using exactly the same code like Multithreaded Service
I'm using this code on receive part of worker Routine:
[code]
,also  I have an additional Publisher socket ,which currently sends a heartbeat message every 30 secs, but this exception seems to happ

[2015-02-02 13:05] thomastvedt opened #221 "ArgumentOutOfRangeException in publisher.Send(msg)"
I'm writing a Lync MSPL application which listens to sip-messages and uses a netmq publisher to send messages to one or more subscribers. It works ok, but sometimes (possibly under heavy load?) I get the following errormessage:

    System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
    Parameter name: index
    at System.Coll

[2015-02-02 13:05] somdoron commented on #220
What version are you using?
On Feb 2, 2015 11:00 AM, "fsaremifar" <notifications@github.com> wrote:

[2015-02-02 13:06] somdoron commented on #220
Ok saw the version in the bug. I will check it soon.
On Feb 2, 2015 3:05 PM, "Doron Somech" <somdoron@gmail.com> wrote:

[2015-02-02 14:23] krisrok commented on #221
where is OnResponse called from? another thread maybe?

[2015-02-02 17:29] fsaremifar commented on #220
Hi Somdoron  ,
Thanks for reply and your great job here ,
I think there's a issue with ReceiveMessage() ,  If I use a code like the code in below ,It won't crash.
I've created a full RMI system around the NetMq ,which will manage different services , and already did some ready to use clients for it on PHP and Javascript  and C++ ,
So far everything works great ,except this exception that happens s

[2015-02-03 12:46] leverate-somech commented on #220
@fsaremifar from the exception the issue is on the sending actually. Can you make a simple project the reproduce the issue? even one in a while will help

[2015-02-03 12:49] leverate-somech commented on #221
@thomastvedt can you test if this also happen on version v3.3.0.12?

[2015-02-03 12:50] leverate-somech commented on #221
also as @krisrok mentioned, any chance you are using the socket on multiple threads?

[2015-02-03 17:16] fsaremifar commented on #220
@leverate-somech  I'll try to  make a simple project to reproduce  the issue,however this exception is throwing randomly , I don't know when or how , but after a while using the system it happens anyway , but usually when the I have more requests at same time( My guess) ... as far as the NetMq part I have the same code as that sample in repository, after receive it will process the message and the

[2015-02-03 18:11] fsaremifar commented on #220
I've made some changes last night  to NetMq code to send these exceptions to an exception handler ignoring these exceptions as these exceptions can't be handled directly when using NetMq and I think the result is loss of message which causes this exception ,at least it's not crashing
 ,however I'll try to make that simple project

[2015-02-03 18:19] ndextraze-pbp commented on #220
I don't know it this helps, but we're seeing a similar issue with previous version of netmq 3.3.0.11. Might help you figure out where the problem is.

[NetMQException: ]
    NetMQ.zmq.Msg.Close():97
    NetMQ.zmq.V1Encoder.MessageReady():0
    NetMQ.zmq.V1Encoder.Next():30
    NetMQ.zmq.EncoderBase.GetData(ByteArraySegment& data, Int32& size, Int32& offset):64
    NetMQ.zmq.StreamEngine.OutEvent()

[2015-02-03 19:13] somdoron commented on #220
Nicolas can you describe the usage? Or try to provide a code?
On Feb 3, 2015 8:19 PM, "Nicolas Dextraze" <notifications@github.com> wrote:

[2015-02-03 21:06] ndextraze-pbp commented on #220
Sorry can't provide the code, but I can describe the setup.

2 servers on the same network. One hosting web services using IIS, one hosting app services. The app that crashed is a app service that was using one context with two sockets (1 pull socket binded using tcp://*:port, 1 publisher socket binded using tcp://*:port). There is 2 subscribers to the publisher socket (a web service and another a

[2015-02-03 22:46] ndextraze-pbp commented on #220
Also here are a glimpse at our logs for the timing of the error/fatal exception. Also included any monitored event on the socket.

20150203 172151.625 [20] ERROR -- The last ArgumentOutOfRangeException occured here
20150203 172226.767 [12] DEBUG netmq-monitor.2-publisher - Accepted Address=tcp://0.0.0.0:6744
20150203 172245.905 [iothread-2] FATAL -- The Msg.Close NetMqException occured here

[2015-02-03 23:52] somdoron commented on #220
@ndextraze-pbp  or @fsaremifar if you can try to reproduce the bugs with following version it will be great:

https://github.com/somdoron/netmq/tree/MsgCloseDebug

This not solve the issue, but add an exception at different places to trying to understand where it comes from.

[2015-02-04 06:53] thomastvedt commented on #221
Hmm, I thought it was only using one thread. I'm running a windows service, spawning a new Thread, and all of my interactions with NetMQ is in this thread. But I noticed when logging with log4net that OnResponse is actually called by different threads. OnResponse is called by Lync (https://msdn.microsoft.com/en-us/library/office/hh364644(v=office.14).aspx). Thanks for the tip, I'm looking at this

[2015-02-04 08:32] thomastvedt commented on #221
If I do this:

     public void OnResponse(object sender, NotificationReceivedEventArgs e)
     {
        lock(_object)
        {
            _publisherSocket.Send(message, encoding)
         }
     }

Is this an "anti-pattern" in zmq? Or is it ok to do this?
http://zguide.zeromq.org/page:all#Chapter-Sockets-and-Patterns : "Stay away from the classic concurrency mechanisms like as mutexes, critica

[2015-02-04 08:34] somdoron commented on #221
it is not the prefer solution, but it is ok.

On Wed, Feb 4, 2015 at 10:32 AM, Thomas Tvedt <notifications@github.com>
wrote:

[2015-02-04 10:25] krisrok opened #222 "code formatting: tab size"
just a little petty issue:

the readme.md says:

but all the code seems to be formatted with 4 chars for tab/indent size.

i'm all for the suggestion in the readme, but i guess for most of you it will be easier to just adjust the readme text.

[2015-02-04 10:26] krisrok commented on #222
and i guess it should read "insert spaces" as it's the setting's name in visual studio

[2015-02-04 15:52] tobi-tobsen commented on #221
Also, see this question and associated answers: http://stackoverflow.com/questions/5841896/0mq-how-to-use-zeromq-in-a-threadsafe-manner

[2015-02-04 16:07] krisrok commented on #221
also there is the NetMQScheduler which is quite nice if you're already working with the TPL/TAP. but whatever path you choose, you HAVE to be aware of the pitfalls that come with each of them.

[here's somdoron's relevant blog entry](http://somdoron.com/2013/06/netmq-scheduler/)

[2015-02-04 16:51] fsaremifar commented on #220
@somdoron  I'll try it by tomorrow , thanks.

[2015-02-04 20:06] dnallicus opened #223 "CreateMonitorSocket creates pair socket with no owner"
The useful function CreateMonitorSocket will create a pair socket inside of it.  But since the monitor doesn't own the pair socket, it is never disposed, and thus the context will hang on disposal.

Example, it will hang on context.Dispose:

            var context = NetMQ.NetMQContext.Create();
            using(var monitorSocket = context.CreateMonitorSocket(@"inproc://montior1234"))

[2015-02-04 21:47] somdoron commented on #223
do you want to provide the pull request?

On Wed, Feb 4, 2015 at 10:06 PM, dnallicus <notifications@github.com> wrote:

[2015-02-04 22:21] dnallicus commented on #223
Sure, if you think that is a good solution.  I can add that example above as a test as well.

[2015-02-04 22:23] somdoron commented on #223
Great.
On Feb 5, 2015 12:21 AM, "dnallicus" <notifications@github.com> wrote:

[2015-02-05 07:17] somdoron commented on #222
yes. Please fix the readme.

On Wed, Feb 4, 2015 at 12:26 PM, krisrok <notifications@github.com> wrote:

[2015-02-05 08:44] #222 closed

[2015-02-05 17:27] ndextraze-pbp commented on #220
Sorry realized that the other exception I posted here was because we didn't use our publisher socket safely between multiple threads. I will fix that first, then see if I still have that same issue. If so I will try the proposed code to investigate more.

[2015-02-06 10:46] thomastvedt commented on #221
Service has been running ok now for two days without any exceptions after I syncronized OnResponse :+1: Thanks for many good answers :sake:

[2015-02-06 10:46] #221 closed

[2015-02-06 11:35] krisrok commented on #221
just out of interest - which route did you take?

[2015-02-06 11:51] SemtexCharlie opened #225 "3.3.0.12-rc1 OverflowException"
Got the following stacktrace from a process that errored using the Nuget sourced 3.3.0.12-rc1.

[code]
I don't have a capture of the message that caused it, but I can say that it was the **only socket** in the context/executing process (regular PUB socket) and it was open/established well ahead of this exception - suggesting it was the SentMessage() call I think.

Here's the simple send loop, no p

[2015-02-06 13:58] SemtexCharlie commented on #225
Update:

- Does happen with latest github code
- Doesn't happen with 3.3.0.11

More about causing this to happen...

I can almost reliably cause this to happen by running many processes at the same time that use the library. I was spinning up about 15 or 16 instances of exe's that use the newer NetMQ. There's no pattern to which process dies, it seems random.

[2015-02-06 18:29] ndextraze-pbp commented on #225
Trace the exception to V2Decoder.EightByteSizeReady function.
We get a long size from the buffer, but it's suppose to be an unsigned 64-bit integer.
Then we check that it's not bigger than int.MaxValue. Since it's an unsigned long, the value might also go into negative since we cast it to a unsigned long.
I might be able to provide a fix for the function, but it would still result in a DecodingErr

[2015-02-06 18:44] SemtexCharlie commented on #225
Awesome.

I'd be happy to rerun the above scenario (many processes) after the fix and confirm.

[2015-02-06 22:49] ndextraze-pbp commented on #225
Fix done.
To test it you'll have to use the code at https://github.com/ndextraze-pbp/netmq

[2015-02-06 22:58] ndextraze-pbp commented on #225
Also please make sure that you don't use the socket in more than one thread at a time. It might explain data corruption.

[2015-02-10 12:56] thomastvedt commented on #221
I just

[2015-02-18 16:32] barzto opened #230 "HelloWorld hangs in Context.Dispose on Unity"
Hi guys,

I've got this code derived from HelloWorld example

[code]

When I run it in standalone Mono installed form MacPorts on OSX, it runs without any issue, but when I run it in Unity Editor, it hangs when disposing context. I've tracked down the place  where main-thread gets dead-locked:

[code]

The standalone mono's --version is:

[code]

The Unity editor's mono is:

[code]

Both running O

[2015-02-19 01:18] JamesWHurst opened #231 "NetMQ 3.3.0.11, SocketExceptions"
Greetings, I'm getting a slew of exceptions with just the first, most trivial of your code examples!

Using this..

[code]

In a Console application, in Debug mode, I am getting 8 SocketExceptions, 1 NetMQ.NetMQException, and 4 NetMQ.TerminatingExceptions !  What am I doing incorrectly?

Console output:
A first chance exception of type 'System.Net.Sockets.SocketException' occurred in System.dll
..

[2015-02-19 10:19] somdoron commented on #231
also which version of netmq?

On Thu, Feb 19, 2015 at 3:18 AM, James Hurst <notifications@github.com>
wrote:

[2015-02-19 10:21] somdoron commented on #231
I also think you have raise exceptions on the debug option.

On Thu, Feb 19, 2015 at 12:19 PM, Doron Somech <somdoron@gmail.com> wrote:

[2015-02-19 10:21] drewnoakes opened #232 "JetBrains.Annotations"
The `NetMQ.csproj` includes the `JetBrains.Annotations` namespace, however no code in the `NetMQ.dll` uses these annotations.

Is there interest in a PR that introduces these annotations?

If so, which annotations? `CanBeNull` and `NotNull` are probably the most useful. After that, `Pure` and `InstantHandle`.

Also the annotations are a bit out of date now. R# 9 includes quite a few new ones and s

[2015-02-19 10:24] somdoron commented on #232
someone in the past added this but I don't think it is in use now.

Pull request will be great :-)

On Thu, Feb 19, 2015 at 12:22 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-02-19 14:40] msykora opened #234 "Intermittent exceptions in NetMQ.zmq.ZMQ.Poll"
Hello,

I am using NetMQ with poller and due to my requirements I need to dynamically add and remove multiple sockets during the app lifecycle. I am getting exceptions when removing the last/only socket from the poller while it's still running, sometimes it's an ObjectDisposedException, sometimes an ArgumentNullException, it is very intermittent (1 in ~10 runs) so I'm assuming a race condition whe

[2015-02-19 15:12] JamesWHurst commented on #231
NetMQ 3.3.0.11, and yes - this is in DEBUG mode. Are these exceptions that we expect in DEBUG mode, and which are being considered as normal?
I have not tried to drill down into the source-code to find these. But I do find it somewhat concerning, if we're accepting this as okay - as you know C# exceptions are relatively expensive, and it is considered a best-practice to *not* throw exceptions in t

[2015-02-19 15:27] somdoron commented on #231
James I completely agree that exceptions should not be part of the main
flow (and I try to remove them as much as possible). Most of the exceptions
that you see are part of the context/socket dispose.

However I will take another look to try and minimize the exceptions. Any
pull requests are also welcome.

On Thu, Feb 19, 2015 at 5:12 PM, James Hurst <notifications@github.com>
wrote:

[2015-02-19 15:29] somdoron commented on #234
what version do you use?

On Thu, Feb 19, 2015 at 4:40 PM, msykora <notifications@github.com> wrote:

[2015-02-19 15:30] somdoron commented on #234
ahh poller is not thread safe. After starting the poller all the changes
must happen within the poller thread.

You can use NetMQScheduler to do that (invoke all the method inside a task
and start it on the netmqscheduler which attached to the poller)

On Thu, Feb 19, 2015 at 5:29 PM, Doron Somech <somdoron@gmail.com> wrote:

[2015-02-19 15:36] somdoron commented on #230
There is anyway I can try to reproduce this on linux machine? It will be hard to solve this only by the stacktrace...

[2015-02-19 15:45] SemtexCharlie commented on #225
Thanks Ndextraze-pbp - I'll try testing this shortly.

[2015-02-19 15:52] msykora commented on #234
I'm using the newest version from nuget, 3.3.0.11, I noticed code in here seems newer, but I have to use the nuget version :)

[2015-02-19 16:10] somdoron commented on #234
There is a pre release version on nuget. I will release new version this
weekend. Anyway I think the issue you have is about thread safety
On Feb 19, 2015 5:52 PM, "msykora" <notifications@github.com> wrote:

[2015-02-19 16:18] msykora commented on #234
I realize that, I just expected Poller to be thread safe, I don't want to do all the work on a single thread. Just to be sure I understand correctly, I would need to invoker all socket methods on the poller thread, even send/receive? or just the Poller methods, as in AddSocket and RemoveSocket?

[2015-02-19 16:24] msykora commented on #234
I definitely do not want to do all processing for a socket on my server (with potentially hunderds of client sockets connected) on a single thread, does that mean, if I want to do work with sockets on independent threads, each should have its own Poller?

[2015-02-19 16:49] ndextraze-pbp commented on #234
Poller Stop and Dispose method are thread safe, but not RemoveSocket. You don't need to remove the socket before disposing of the Poller.

If you want to handle work receive by your socket on more than one thread you should start a new Task in the ReceiveReady method for each message you want to handle. Keep in mind that socket are  not thread safe, so if you need to respond use appropriate lockin

[2015-02-19 16:52] ndextraze-pbp commented on #234
Also if you want to do thread work with the received messages, you should use another pattern than request-reply. A reply socket can answer only the last request it has receive, so in a worker pattern that would be hard to accomplish. Try using push-pull.

[2015-02-19 16:57] msykora commented on #234
The problem is I need to Dispose a socket that I no longer need, ideally while the Poller keeps running... If I don't do RemoveSocket I just get another exception about using a Disposed object...
And I'm using dealer and router, not req rep sockets, can't use push pull since communication is both ways.

[2015-02-19 17:09] krisrok commented on #230
i've tested around a bit with a minimal chat app in unity on osx and exported to ios with success. i remember it wasn't exactly plug n play though. i'll l

[2015-02-19 17:17] ndextraze-pbp commented on #234
Sorry got confuse by the name of the variable. I'm trying to understand what you are trying to do here. If you are using dealer - router pattern, then you only need one router socket on the server side. Why do you have more than one socket and why do you need to dispose of it and remove it from the Poller?

[2015-02-19 18:24] #232 closed

[2015-02-19 18:27] drewnoakes opened #239 "Proxy with external Poller"
Would this be a useful pattern?

Currently a Proxy produces its own internal poller in `Proxy.Start`. The method could be overloaded to accept an external poller.

`Proxy.Stop` would either throw or no-op when an external poller was provided.

[2015-02-19 20:07] msykora commented on #234
Actually, we use the dealer socket only for a security handshake (negotiating the protocol, exchanging the session encryption key, getting the server socket identity so the client can then switch to router without needing to know the identity beforehand), the actual communication is router - router because we want the behavior to be symmetric (no queuing when other side is unavailable and then flo

[2015-02-20 00:09] drewnoakes opened #241 "Can the NetMQ.zmq namespace's types be made internal, recursively?"
What is the purpose of the `NetMQ.zmq.*` namespaces? My assumption is that they're for internal types that map neatly to the concepts of the canonical library, or some such.

As a consumer of NetMQ, I hit upon annoyances where types with the same name existed in both namespaces, and somehow `using NetMQ.zmp` and similar appeared in my code, and then all sorts of weird disambiguation code started t

[2015-02-20 00:17] drewnoakes commented on #241
Hmm... just checked `Poller` again and it seems to be `internal` already. This may be a difference between the current NuGet package and `master`, or my memory may have bits flipped.

Either way, there are still other types in these namespaces which are not internal. Should they be encapsulated, or are they intended to appear in user code?

[2015-02-20 07:15] msykora commented on #234
Even the start - dispose combination doesn't seem to be thread safe, this code throws a "Poller Disposed" exception in the Start task:
                var poller = new Poller();
                poller.PollTimeout = 100;
                var scheduler = new NetMQScheduler(context, poller);
                var pollTask = Task.Factory.StartNew(() => {
                    Console.WriteLine("Poller star

[2015-02-20 08:14] somdoron commented on #239
@drewnoakes do you want to join the maintainers of netmq? make sure to read:

http://rfc.zeromq.org/spec:22

Regarding your question, if you have a real problem so yes it will make a good solution.

[2015-02-20 08:23] somdoron commented on #234
@msykora we can do multiple things to solve this, I agree with your point regarding the dispose, the dispose actually call cancel but doesn't wait for it to complete, we should change that so it will wait and it will solve your problem, do you want to make a pull request for that?

We can make poller add and remove thread safe by using a scheduler internally.
We can also change the poller so it wi

[2015-02-20 08:24] msykora commented on #234
Another thing that baffles me is the temporal coupling between poller and scheduler, when I use the scheduler, I have to dispose it before stopping the poller, otherwise scheduler dispose will hang forever, same for context dispose...

[2015-02-20 08:25] somdoron commented on #241
@drewnoakes the idea is to make the entire zmq internal, so yes we can make everything internal. However we need to make sure we don't do that for used classes, I can think of  Blob (which is obsolete) but maybe there are more.

[2015-02-20 08:28] somdoron commented on #234
regarding the scheduler, you are right, I think somebody submitted a pull request few days ago for that.

Regarding the context, yes this is another annoying issue, getting the context dispose it's not easy.  You have to make sure you actually disposed all of your sockets. I want to make a default static context and make the context obsolete. That will make life easier.

[2015-02-20 08:30] msykora commented on #234
It would be great if add and remove were thread safe, as well as dispose. To be honest, I am not sure how this works, with the pull request :-)

For context, yeah sockets need to be disposed, that comes with ZMQ, but even without sockets, when I create a scheduler and then stop poller before scheduler is disposed, the context dispose will hang...

[2015-02-20 08:44] krisrok commented on #234
to create a pull request:
fork the project (button top right)
pull the fork from your github account
apply changes and commit (try to be concise doing both), then push
in the fork's github site choose 'new pull request'

[2015-02-20 08:51] krisrok commented on #234
as for the issue discussed here, i'm all for making netmq easier to handle in multithreaded environments. but isn't that what zmq is trying to solve anyways? :)

[2015-02-20 08:59] msykora commented on #234
I was afraid so, never touched an open source project, before, scary :-)

[2015-02-20 11:59] barzto commented on #230
I was able to reproduce this issue on OSX and Windows. I've made a small repo with Unity project you can use to debug it---https://github.com/barzto/netmq-unity-reaperissue. You'll need to get Unity Pro (to get System.Socket API access), fortunately there's 30 day trial available. Unfortunately there's no Unity for Linux, only OSX & Win.

If you open TestScene in project, and run it, it'll get fre

[2015-02-20 12:17] krisrok commented on #230
unity pro is only needed for sockets on ios (and possibly android), so the free version for osx/win is fine.

i'm currently looking into my old project too. it works with a manual polling strategy (using a coroutine) most of the time, but sometimes it just freezes on startup.

[2015-02-20 16:57] drewnoakes commented on #239
@somdoron, ok I'll make a pull request.

Thanks for the pointer to C4. It's a good specification.

I would be happy to help maintain the library. Over the next few months I expect to be using it quite heavily so will learn more about the project and what's needed.

As for using an external `Poller` with `Proxy`, I'll get a PR together.

[2015-02-20 18:22] barzto commented on #230
I think I've tracked down where the problem is. It looks like Socket.Select never marks a read socket. So the Utils.Poller.Loop() (used by Reaper) never ends.

Here's the min repro I've compiled out of NetMQ sources if you're interested:
[code]

I've created Unity Bug Report with this code, so hopefully I'll hear from UT guys soon.

[2015-02-21 00:51] drewnoakes opened #242 "Icon for NuGet package"
The current `NetMQ.nuspec` file omits the `<iconUrl>` element.

According to the [Nuspec reference](http://docs.nuget.org/Create/Nuspec-Reference):

Here are two possible options:

![nuget-icon-1](https://cloud.githubusercontent.com/assets/350947/6311905/af2a6bcc-b962-11e4-868f-d0cdfa8c6e18.png)
![nuget-icon-2](https://cloud.githubusercontent.com/assets/350947/6311906/af4d692e-b962-11e4-8ba7-8fefe

[2015-02-21 10:32] somdoron commented on #239
Great. I gave you maintainer rights. You can now merge pull requests.

On Fri, Feb 20, 2015 at 6:57 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-02-21 10:38] somdoron commented on #242
we can use githubusercontent link for this, like what zeromq project is using, take a look at the url of the picture in the next link:

http://www.nuget.org/packages/ZeroMQ/

[2015-02-21 10:38] somdoron commented on #242
but maybe we can have  a NetMQ icon... like czmq:

http://www.nuget.org/packages/czmq

[2015-02-21 10:40] somdoron commented on #234
Make sure to read [C4.1](http://rfc.zeromq.org/spec:22) this what we follow, we try to make it very easy to contribute to NetMQ (working well so far), so don't be afraid.

[2015-02-21 10:43] somdoron commented on #230
I think somebody actually report is in the past and suggest a workaround, will look for that. I think it is a bug in specific mono version

[2015-02-21 10:47] somdoron commented on #234
take a look at:
https://github.com/zeromq/netmq/issues/98#issuecomment-60374763

and the actual patch:
https://github.com/fredrikm/netmq/commit/b8863879122a8518f029ae8648bd5b95b3c7f6ac?w=1

project changed a little since then so you need to find the place and apply the patch.

If you want to make a pull request that will be great, but we need to find a way to only apply this to the specific versio

[2015-02-21 17:16] drewnoakes commented on #241
@somdoron actually `Blob` is in the project's root namespace, so there's no problem there. The list of affected types is in the PR's diff. Do you think any of those would be problematic?

[2015-02-21 19:27] drewnoakes commented on #242
Nice. Actually the ZeroMQ project's image is an ICO not a PNG, which seems better as it can be shown at different sizes in different contexts. The reference doesn't mention ICO files, but obviously they are supported.

This image has four versions, from 16x16 up to 128x128:

https://raw.githubusercontent.com/zeromq/clrzmq4/master/ZeroMQ.ico

I agree that a project-specific logo would be better. Th

[2015-02-21 20:09] somdoron commented on #242
Looks great, make a pull request.

[2015-02-21 20:10] somdoron commented on #241
Seems fine. We will know soon if somebody will complain

[2015-02-21 20:46] somdoron commented on #225
@SemtexCharlie can you explain more how reproduce the issue? I'm trying to understand we do we even get a negative message size, it seems the message is malformed.

[2015-02-21 21:35] #242 closed

[2015-02-21 22:08] #241 closed

[2015-02-21 23:12] drewnoakes opened #249 "NetMQBeacon throws on Linux with Mono"
Running unit tests on Ubuntu 14.04 via Mono shows:

[code]

`UnicastAddress.IPv4Mask` throws `NotImplementedException`. The underlying problem is an incomplete implementation of `LinuxUnicastIPAddressInformation` in Mono.

This bug has been known since Nov 2011: https://bugzilla.xamarin.com/show_bug.cgi?id=2033

Workarounds exist, but use `[DllImport("libc")]`.

[2015-02-22 07:07] #239 closed

[2015-02-22 07:13] somdoron commented on #249
we can check that the platform is not windows (or is posix) and the version of mono and only then use the workaround...

[2015-02-22 19:59] JamesWHurst opened #251 "Q: Is there no help-file, to document the API for this library?"
Question: Is there no help-file of any kind for this library? !!

I mean like a .chm or other Windows Help File format, that lists every class, method and property?

If there is not - I can help create one. But I will need to get a *lot* more familiar with how to use this, to do a competent job of it. No serious library can be without a decent-quality help file. Especially if there is no Intellise

[2015-02-22 20:42] krisrok commented on #251
full fleshed documentation is missing, yes. not sure if we really need some chm file, i guess an offline version of http://netmq.readthedocs.org would do too. at least for the more verbose parts and to show how it all fits together.

for everything else we should start to add xml doc comments (///) at least to public items.

sadly i still feel the same as you regarding familiarity towards the lib.

[2015-02-23 00:38] Nemonic opened #252 "NetMQ.SocketOptions.MaxMsgSize exception."
Master branch.

NetMQ.SocketOptions.MaxMsgSize is an int property which is used to set NetMQ.zmq.Options.Maxmsgsize of type long in "Options.cs:234"

case ZmqSocketOptions.Maxmsgsize:
                    Maxmsgsize = (long)optval;
                    break;

Unboxing object(int) to (long) is invalid.

[2015-02-23 12:03] barzto commented on #230
@somdoron That would be great, if there's a workaround for this. At this point we're blocked with this issue. I was googling to find out on my own, if there's some workaround, but haven't found yet anything useful, only forum post from 2010, that looks like the issue with Socket.Select in Unity is for last 5 years (which makes me less optimistic about chance guys at Unity Technologies will fix thi

[2015-02-23 12:16] somdoron commented on #230
@barzto read the following thread and specifically this comment:

https://github.com/zeromq/netmq/issues/98#issuecomment-60374763

a link for the workaround:

https://github.com/fredrikm/netmq/commit/b8863879122a8518f029ae8648bd5b95b3c7f6ac?w=1

The change a bit but found the Socket.Select code and apply the patch.

You can also send a pull request with the patch if you can apply it only when runn

[2015-02-23 13:02] somdoron commented on #251
I can help with direction and correction regarding the documentation. I
think the best is to invest in xml doc comments as we already have a
documentation project.

On Sun, Feb 22, 2015 at 10:42 PM, krisrok <notifications@github.com> wrote:

[2015-02-23 14:20] drewnoakes commented on #251
Better XML doc coverage would be great.

I'll help out too. Doron, it'd be great if you could review the doc project
changes made yesterday, as well as future XML doc commits.

[via phone]
On 23 Feb 2015 13:03, "Doron Somech" <notifications@github.com> wrote:

[2015-02-23 20:19] JamesWHurst commented on #251
Ok - I cloned the current version of the code last night and am adding XML comments throughout a lot of it. Please let me know if any of you are doing the same - I don't want to waste effort. I'm thinking perhaps I should issue a pull-request when it's only partly done, so that more experienced minds can add it where I'm lacking.
I had already done a lot of it, when I was working on the .NET 3.5 c

[2015-02-23 21:34] drewnoakes commented on #252
Reproduced. Working on a unit test and patch now. Seems there are a few other properties on `SocketOptions` which cause trouble too.

[2015-02-23 22:14] JamesWHurst commented on #251
How would you prefer me to submit questions related to XML-documentation (they're quite a few)? All here, or as separate issues (that may be too voluminous), or in an email?

Here're a few:
1) NetMQSocket.Subscribe is marked Obsolete, but I understand the intent is really to ensure this is only called for Subscriber sockets. I suggest this should be improved - because even with perfect code, your

[2015-02-23 23:20] drewnoakes commented on #251
@JamesWHurst, great that you're working on this. There was some discussion a while back on #13 that's worth revisiting (I know you posted there in 2013).

PRs allow you to push more code to them over time, but in this repo PRs are closed quickly as a matter of policy. If you push commits to your fork and want them reviewed, comment back here on this thread. I'll definitely take a look, although ot

[2015-02-24 01:10] ndextraze-pbp commented on #225
That's why I assumed thread safety as a possible problem that could create this, but I might be wrong.

[2015-02-24 10:02] #252 closed

[2015-02-24 20:02] JamesWHurst commented on #251
Drewnoakes - why would I need to reference this issue from another repo?

Also, can I get some answers to my 2 questions above?

And - a newbie question (sorry - I'm a bit new to GitHub): I cloned the project, and did my edits. I did not create a branch yet, and I did not "fork" the project. Do I need to do both of those steps?  I thought forking was for only if I want to diverge from the main pro

[2015-02-24 20:09] JamesWHurst commented on #13
I'm currently adding extensive comments to the API, for those areas whose operation is evident from the source-code to a non-expert in NetMQ as I am (not).  (boy did that come out awkward!).  I am thinking that as this gets merged in, I can then run it through SandCastle, to generate a Windows help-file for it.
I've already put over 48 hrs straight. There's a bit of code here - and some major chan

[2015-02-24 20:15] JamesWHurst opened #256 "NetMQ.Tests, PgmTests all hang."
With code that I cloned from the NetMQ repository just this past Sunday (2015/2/22), All of the unit-tests within NetMQ.Tests pass, except all of the tests within PgmTests.  !!   Before I dump a bunch of time into that -- have you seen this?  Any idea what's going on?

I remember having an issue last year, when I tried to run it on a host that had only a single-core CPU. But it ran fine if I had m

[2015-02-24 20:16] tobi-tobsen commented on #256
Have you started visual studio with admin rights? Somehow this is needed for PGM sockets.

[2015-02-24 20:45] JamesWHurst commented on #256
Yes I did.

Within PgmSocket.Init, at the line AsyncSocket.Create(AddressFamily.InterNetwork, SocketType.Rdm, PGM_PROTOCOL_TYPE);
it is throwing a SocketException with: The support for the specified socket type does not exist in this address family."

[2015-02-24 20:48] tobi-tobsen commented on #256
Yeah, well you need to install PGM socket support which comes with MSQM: https://msdn.microsoft.com/en-us/library/aa967729%28v=vs.110%29.aspx

[2015-02-24 21:53] JamesWHurst commented on #256
Thanks - that did seem to have fixed the problem. I always like to verify that all unit-tests run, before committing any code.
Since I'm doing documentation, I added a comment to the top of PgmTests that clues in any developer-users of this necessary step.

[2015-02-24 21:54] JamesWHurst commented on #256
Q: Why do these PgmTests use IP-address 244.0.0.1  ?  That makes no sense to me - the loopback-address would seem to be 127.0.0.1.  ???   What's special about 244.0.0.1 ?

[2015-02-24 21:58] deanroker123 commented on #256
Hi James,

Multicast uses different addresses for the destination. They are a reserved
part of the ipv4 address space.

Please see here for more info.

http://en.m.wikipedia.org/wiki/Multicast_address
On 24 Feb 2015 21:54, "James Hurst" <notifications@github.com> wrote:

[2015-02-24 22:05] JamesWHurst commented on #256
Thank you y'all - I very much appreciate your help.

[2015-02-24 22:05] #256 closed

[2015-02-25 00:02] drewnoakes commented on #251
@JamesWHurst -- changes to this repository occur via pull requests. This requires you to fork the repo via the GitHub UI and push your changes to your own fork:

    git@github.com:JamesWHurst/netmq

A fork on GitHub is just a public copy of the project's repository that you can push to. All contributors to this project push to their own forks, then submit a "pull request" to the original project'

[2015-02-25 08:35] somdoron commented on #225
I'm not sure because it is coming directly from the wire...

On Tue, Feb 24, 2015 at 3:10 AM, Nicolas Dextraze <notifications@github.com>
wrote:

[2015-02-25 08:36] leverate-somech commented on #251
@drewnoakes I will review the documentation this weekend...

[2015-02-25 08:57] somdoron commented on #251
leverate-somech is my job user.

On Wed, Feb 25, 2015 at 10:36 AM, leverate-somech <notifications@github.com>
wrote:

[2015-02-25 17:21] ndextraze-pbp commented on #225
Yes we know that the data is coming from the wire. So somehow a subscriber socket is sending a wrongly formatted subscription message to the publisher socket (it's the only kind of message it should ever receive, right?). So either:
1) there is corruption on the subscriber side (ie. thread safety issue or other)
2) a non netmq socket is connecting to that port and sending bad data
3) a different v

[2015-02-25 18:44] barzto commented on #230
Thanks @somdoron , that helped a lot. I've put extra Socket Poll to SocketUtility.Select, and I'm able to create and dispose Context without freeze. However if there're two contexts created (in series, i.e. context A created, A disposed, B created, B disposed), the app freezes in same Select and extra Poll is not helping.

It's not big issue for me, as one context is enough for our use case, but I

[2015-02-25 20:00] JamesWHurst commented on #251
I forked the repo (creating JamesWHurst/netmq), and committed edits. I noticed that it makes a lot of extra work when other files change in the upstream project *during* the time I am doing edits, necessitating differencing and merging again. When you can, please review my code-edits and merge it with the zmq/netmq project or else provide me with feedback, as soon as you conveniently can.

That to

[2015-02-25 20:27] drewnoakes commented on #225
@SemtexCharlie, if you can reproduce this reliably and easily then [`git bisect`](http://git-scm.com/docs/git-bisect) might be a useful tool to find the exact commit that introduced the bug.

[2015-02-25 20:38] drewnoakes commented on #251
Great. Looking forward to seeing the fruit of your efforts.

[2015-02-26 14:54] lufka opened #260 "Unbind failing after using BindRandomPort"
The following call to `Unbind` fails:

    using (var context = NetMQContext.Create())
    using (var pub = context.CreatePublisherSocket())
    {
        var port = pub.BindRandomPort("tcp://localhost");

        pub.Unbind("tcp://localhost:" + port);
    }

The error is:

    NetMQ.EndpointNotFoundException : Endpoint was not found and cannot be disconnected
       at NetMQ.zmq.SocketBase.TermEn

[2015-02-26 15:19] lufka commented on #260
Found the problem. Will make a PR shortly.

[2015-02-26 15:56] #260 closed

[2015-02-27 11:34] drewnoakes opened #263 "Using using with NetMQ"
Ok, that's a fairly cryptic title :)

Throughout working with NetMQ I've found that code is easier to read when it's less nested. I'd like to know whether there are any objections to this idea, before I go ahead an apply it throughout the sample code.

Here's an example:

### Before

[code]

### After

[code]

My theory is that the second pattern is easier to read, which should help newcomers to N

[2015-02-27 11:40] somdoron commented on #263
I think it's great idea.
On Feb 27, 2015 1:35 PM, "Drew Noakes" <notifications@github.com> wrote:

[2015-02-27 11:53] sachabarber commented on #263
Looks good to me too

[2015-02-27 16:08] drewnoakes opened #265 "CONTRIBUTING file"
GitHub has a nice feature where if you include a file called `CONTRIBUTING.md` then users see a message when opening issues/pull requests:

![image](https://cloud.githubusercontent.com/assets/350947/6415895/d976a634-be99-11e4-91e5-c2d8f4245157.png)

I quite like when a repository has this as it makes it possible to contribute in accordance with the project's wishes. And if they're not reasonable,

[2015-02-27 16:14] drewnoakes opened #266 "AUTHORS file"
Should we add an AUTHORS file, as is done in many zeromq projects?

* https://github.com/zeromq/malamute/blob/master/AUTHORS
* https://github.com/zeromq/zmqpp/blob/develop/AUTHORS
* https://github.com/zeromq/pyzmq/blob/master/AUTHORS.md
* https://github.com/zeromq/filemq/blob/master/AUTHORS
* https://github.com/zeromq/czmqpp/blob/master/AUTHORS
* https://github.com/zeromq/jeromq/blob/master/AUTHOR

[2015-02-27 17:26] somdoron commented on #266
I think it's a good idea...
On Feb 27, 2015 6:14 PM, "Drew Noakes" <notifications@github.com> wrote:

[2015-02-27 17:55] drewnoakes opened #267 "Should Msg be finalizable?"
If a message is not closed then it won't return its buffer to the `BufferManager`, nor will it decrement its internal atomic counter.

This seems only to matter for pooled messages however.

How often are non-pooled messages used? Requiring this type to be tracked by the GC for finalization could really hurt performance, but if might increase correctness if pooling code forgets to close the messag

[2015-02-27 19:12] somdoron commented on #267
Pooled messages are only used if you enable buffer pooling which improve the memory by reduce garbage collection work but actually reduce the throughput of messages (because the BufferManager of .net is not very efficient, custom buffer manager might solve that). Anyway correct management of Msg object is very important so adding finalizer will just hide the fact that we have a bug. Msg is also ex

[2015-02-27 19:52] drewnoakes commented on #267
I suppose a buffer manager implementation should be able to detect if Msg instances are not being released to the pool.

[2015-02-27 19:52] #267 closed

[2015-02-27 20:03] drewnoakes commented on #266
Attention: @sachabarber @mph911 @almazik @tobi-tobsen @reiroldan @JamesWHurst @GianniBortoloBossini @cjuniet @BDeus @bubbafat @gbirchmeier @iloginov @therealbappy @tjrobinson @hanswolff @KyleRudy @matthiasgeller @mbergin @buybackoff @dandezille @barzto @JayShelton @sofusmortensen @EugenDueck @kamlesh-patel @krisrok @majimenezp @oldrev @yallie @cbaxter

As someone who GitHub identifies as a [contri

[2015-02-27 20:07] gbirchmeier commented on #266
Grant Birchmeier - @gbirchmeier

On Fri, Feb 27, 2015 at 2:03 PM, Drew Noakes <notifications@github.com>
wrote:

--
Grant Birchmeier
*Connamara Systems, LLC*
*Made-To-Measure Trading Solutions.*
Exactly what you need. No more. No less.
http://connamara.com

[2015-02-27 20:08] majimenezp commented on #266
Thanks, is great to be added to the contributor list, because i use a lot netMQ( and zeroMQ in general) with ARM, i am checking some other details that need to be refined, but as soon i have some spare time, i will work on that and send the pull request, here is my info in the required format:

Miguel Angel Jimenez - @majimenezp

Thanks again

[2015-02-27 20:09] iloginov commented on #266
Ilya Loginov - @iloginov

Thanks

[2015-02-27 20:21] ndextraze-pbp commented on #266
Nicolas Dextraze - @ndextraze-pbp

I wasn't showing in the contributors originally because I used a different email address not associated with my account when I commited. It's now fixed.

[2015-02-27 20:36] cjuniet commented on #266
Christophe Juniet - @cjuniet <https://github.com/cjuniet>

Thanks!

On Fri, Feb 27, 2015 at 9:21 PM, Nicolas Dextraze <notifications@github.com>
wrote:

[2015-02-27 21:38] bubbafat commented on #266
Robert Horvick - @bubbafat

On Fri, Feb 27, 2015 at 3:03 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-02-27 21:40] tjrobinson commented on #266
Tom Robinson - @tjrobinson

[2015-02-27 21:44] buybackoff commented on #266
Victor Baybekov - @buybackoff

That was not, by far, may intention initially with my lame commit, but why not :) Have some ideas and was too shy to make an issue of them before.

[2015-02-27 21:51] drewnoakes commented on #263
Closed via #268.

[2015-02-27 21:51] #263 closed

[2015-02-27 22:22] tobi-tobsen commented on #266
Tobias Behr - @tobi-tobsen

[2015-02-27 23:17] sachabarber commented on #266
Sachs barber
On 27 Feb 2015 20:07, "Grant Birchmeier" <notifications@github.com> wrote:

[2015-02-27 23:38] mph911 commented on #266
Peter H. Merkel   @mph911

Thank you 😊

Von meinem Windows Phone gesendet
________________________________
Von: Drew Noakes<mailto:notifications@github.com>
Gesendet: ‎27.‎02.‎2015 21:03
An: zeromq/netmq<mailto:netmq@noreply.github.com>
Cc: P. H. Merkel (MerkelConsult)<mailto:pm@merkelconsult.net>
Betreff: Re: [netmq] AUTHORS file (#266)

Attention: @sachabarber<https://github.com/sachabarber> @mp

[2015-02-27 23:47] JayShelton commented on #266
Jay Shelton @jayshelton

Sent from Windows Mail

From: Drew Noakes
Sent: ‎Friday‎, ‎February‎ ‎27‎, ‎2015 ‎3‎:‎03‎ ‎PM
To: zeromq/netmq
Cc: Jay Shelton

Attention: @sachabarber @mph911 @almazik @tobi-tobsen @reiroldan @JamesWHurst @GianniBortoloBossini @cjuniet @BDeus @bubbafat @gbirchmeier @iloginov @therealbappy @tjrobinson @hanswolff @KyleRudy @matthiasgeller @mbergin @buybackoff @dandezille @b

[2015-02-28 01:56] EugenDueck commented on #266
Eugen Dück — @EugenDueck

Thanks

[2015-02-28 03:47] JamesWHurst commented on #266
James Hurst -- @JamesWhurst

Thank you.

[2015-02-28 07:16] yallie commented on #266
Alexey Yakovlev — @yallie

Thanks

[2015-02-28 12:44] drewnoakes commented on #266
I'm going to close this issue now, but any replies will still be processed.

[2015-02-28 12:44] #266 closed

[2015-02-28 12:51] drewnoakes commented on #265
@somdoron do you think this would be a suitable document? Any changes?

---

### Contributing to NetMQ

* The contributors are listed in [AUTHORS.md](https://github.com/zeromq/netmq/blob/master/AUTHORS.md) (add yourself).

* This project uses a modified version of the LGPL v3 license, see
[COPYING.LESSER](https://github.com/zeromq/netmq/blob/master/COPYING.LESSER).

* We use the [C4.1 (Collective

[2015-02-28 14:21] somdoron commented on #265
looks good. fits the philosophy...

On Sat, Feb 28, 2015 at 2:51 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-02-28 20:08] #265 closed

[2015-03-01 01:43] drewnoakes opened #272 "Lazy receive sequence is not re-entrant"
The lazy receive functions described in #64 and implemented in #65 have a potentially surprising pitfall.

Because they yield a sequence of results directly "from the wire", the sequence can only be enumerated once. This is, generally, not true of `IEnumerable<T>` types throughout the BCL.

Here is our `ReceiveMessages` method:

    public static IEnumerable<byte[]> ReceiveMessages(this IReceiving

[2015-03-01 03:24] JamesWHurst commented on #272
I totally agree, and frankly am grateful that you spotted this and raised this issue. It is serious. I submit that we do *not* want to have a fundamentally-incorrect API like that. I like your solution.

[2015-03-01 06:15] somdoron commented on #272
I think we can mark the method as obsolete, not sure we even need an
alternative. There is better way to do that, like ReceiveMessage that
returns NetMQMessage
On Mar 1, 2015 3:43 AM, "Drew Noakes" <notifications@github.com> wrote:

[2015-03-01 12:52] drewnoakes commented on #251
Cross referencing with PRs #259, #262, #269, and #273.

[2015-03-01 13:19] dandezille commented on #266
Dan de Zille - @dandezille

Thanks!

[2015-03-01 19:03] drewnoakes commented on #272
@somdoron actually yes, `NetMQMessage` looks like a better fit in many cases. It allocates more objects (one for the message, and one per frame).

In the PR there's a non-breaking fix that doesn't obsolete anything.

I think we can improve the usability of APIs for receiving from sockets in general. I'll open a new issue with some ideas for discussion.

[2015-03-01 19:29] drewnoakes opened #275 "Messages, Frames and the socket receiving APIs"
The extension methods for receiving from sockets are not very friendly when starting out with NetMQ. There are several ways to achieve the same thing (`SendReiveOptions.DontWait` vs `bool dontWait`) and the behaviour of non-blocking reads are not clear (do they return `null`, throw, or something else?)

In the ZeroMQ Guide, there's a distinction between messages and frames. NetMQ's API commonly re

[2015-03-01 19:38] #272 closed

[2015-03-01 19:43] somdoron commented on #275
I really really like the API you suggest.

By the way, you also have NetMQMessage which you can use.

Problem with NetMQMessage right now is that you allocate a new message on each message receive and send, if we can change that we will reuse same NetMQMessage that will useful.

[2015-03-01 19:43] somdoron commented on #275
I would also mark anything else as obsolete and will promote the new api

[2015-03-01 19:44] somdoron commented on #275
we can also improve the internal by stop throwing AgainException and return boolean instead, this will also improve performance on cases the operation is blocking.

[2015-03-01 19:52] drewnoakes commented on #275
I wonder if it's possible to deprecate `Msg` and use a new `Frame` class instead. I suppose an obsolete `Msg` could just wrap the new (well, renamed) `Frame`.

[2015-03-01 19:53] drewnoakes commented on #275
One thing this API doesn't include is support for `async` and `Task`. Given the IOCP stuff underpinning the comms, it seems a great candidate for true async support. I don't yet know enough about the internals, but do you think this would be a valuable and feasible addition to the API at this level?

[2015-03-01 21:39] drewnoakes commented on #251
@JamesWHurst are you happy with this issue now?

[2015-03-01 22:01] somdoron commented on #275
I think it is not possible to obsolete Msg, mainly because Msg is a struct and not a class and it is deep in the internal of NetMQ, we may be able to change the name to Frame and support Msg on the API just for backwards comparability.

Regarding Task and Async, we cannot add them directly on the API (we need a thread to handle the async), we can however make a wrapper like in: http://somdoron.com

[2015-03-01 22:09] krisrok commented on #275
great ideas, especially regarding the methods.

one thought though: instead of cluttering the api with deprecated stuff, can we risk to deliberately collect some breaking changes (which may take a while to implement and test anyway) and release a clean api hand in hand with a major release, say 4.0?

[2015-03-01 23:25] drewnoakes commented on #275
Regarding `Msg`, I was thinking the same. Rename it to `Frame` or maybe `FrameBuffer`, then generate a delegating struct that's only used in obsolete APIs.

In that case we won't consider `*Async` versions of the above methods.

C4.1 has a section on [Evolution of Public Contracts](http://rfc.zeromq.org/spec:22#toc8) which is worth a look. In particular:

I'm not sure there's anything wrong with h

[2015-03-01 23:45] drewnoakes opened #277 "NetMQSocket.IgnoreErrors"
`NetMQSocket.IgnoreErrors` is marked obsolete, but still used in `Poller.cs`.

Is the intention in making it obsolete that it's not possible to ignore errors on a socket?

If so, should we remove this check, stub out the property's backing storage, and be done with the compiler warning?

(I've been trying to get rid of all compiler warnings, and I think this is the last one.)

[2015-03-02 01:38] JamesWHurst commented on #275
I really, really like your proposed change. It makes it a *lot* clearer, for exactly the reasons you said. The proposal looks neat and symmetrical, easy to document and easy to understand.

I agree that it's confusing to have Msg named as such. I went nuts trying to figure out how to usefully comment that. Frame makes a lot more sense.

Your point regarding exceptions: Yes, absolutely!!  Having th

[2015-03-02 02:37] JamesWHurst commented on #277
Agreed - this compiler-warning needs to be eliminated.

[2015-03-02 09:08] #251 closed

[2015-03-02 09:08] JamesWHurst commented on #251
Yes, thank you.  The answer was basically - freak'n roll up your sleeves and do it!  lol

[2015-03-02 09:27] drewnoakes commented on #251
:)

[2015-03-02 09:36] somdoron commented on #251
will try to review you it all, little limited in time for the next two
weeks.

On Mon, Feb 23, 2015 at 4:20 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-03-02 09:37] somdoron commented on #277
I think we can remove the property and the usage in the poller. It was
ported from clrzmq at the time to have easy transition from clrzmq to
netmq, it is not needed now.

On Mon, Mar 2, 2015 at 4:37 AM, James Hurst <notifications@github.com>
wrote:

[2015-03-02 20:56] #277 closed

[2015-03-04 09:24] jackdslin opened #284 "NetMQ 3.3.0.11 Connect and Bind Problems"
Hi,

I  use NetMQ Version: 3.3.0.11 to create Pub/Sub two application,

Pub socket bind address is tcp://*:50007
Sub socket connect address is tcp://localhost:50007

When I shutdown Pub application, the Sub keep trying to reconnect Pub socket，I found the Sub socket will get a free port as source port to connect the Pub socket，finally the Sub get free port is 50007(the port is Pub bind Port) to con

[2015-03-04 13:50] FaisalZ commented on #105
May I ask how far the progress on making netMQ ready for Windows Store has went up to now?

Thanks,
FaisalZ

[2015-03-04 22:56] drewnoakes commented on #105
Hi @FaisalZ. I don't think that there's been any particular progress in this direction.  Have you tested it? Can you point out any particular issues? If you could help in this regard it would be great.

[2015-03-05 14:13] FaisalZ commented on #105
I tried to use it within a Windows Store app. But the framework used for Windows Store apps is limited. Not all .Net functionallities are available, or have been replaced into another namespace.
Info about it: https://msdn.microsoft.com/en-us/library/br230302.aspx#networking
Specifically I run into issues with the System.Net.Sockets and System.Net.IPAdress namespace where I get hundreds of Referen

[2015-03-05 17:58] FaisalZ commented on #105
@somdoron, after some further testing this seems to be an issue caused by your AsyncIO library deployed with netMQ. Can you help making AsyncIO compatible with Windows Store ".Net Core"?

[2015-03-05 18:10] somdoron commented on #105
I will give it a try, little busy for the next two weeks though. From what
you mention it should be simple.
On Mar 5, 2015 7:58 PM, "Jonas Trottnow" <notifications@github.com> wrote:

[2015-03-05 18:10] somdoron commented on #105
Can you also open an issue on AsyncIO?
On Mar 5, 2015 8:09 PM, somdoron@gmail.com wrote:

[2015-03-05 18:28] FaisalZ commented on #105
Done and thanks, for your immediate response.

[2015-03-06 02:49] JamesWHurst commented on #105
I had started on that (Windows Store compatibility) last year, and it really does merit substantial work. A *lot* of the .NET Framework is unavailable, and the substituted APIs from the RT are sufficiently different that a major rework would be needed.

[2015-03-08 19:15] drewnoakes commented on #99
I figure this is a duplicate of #63 so will close it.

[2015-03-08 19:15] #99 closed

[2015-03-08 20:52] drewnoakes commented on #275
I've started removing throws of `AgainException` during receive calls. Looking deeper into this turned up an additional complexity.

Something that currently prohibits the API described above is `SocketOptions.ReceiveTimeout`.

This option allows _any_ receive call to throw after a period of time. This doesn't fit with the non-`Try` family of functions planned.

I don't think there's a way around

[2015-03-08 20:55] drewnoakes commented on #275
Another point here is that using `TimeSpan` to represent the timeout is slightly misleading, as the current implementation caters for integral millisecond timeouts, whereas a user could pass `TimeSpan.FromMilliseonds(0.1)`, expecting a 100µs timeout. This is probably a separate issue to track/fix, so I'll keep with `TimeSpan` for now unless anyone can foresee issues there.

[2015-03-08 21:23] drewnoakes commented on #275
Also now that I've spent some more time in the code, I think that `Msg` should be renamed to `FrameBuffer` (assuming we can keep an obsolete public `Msg` struct for existing users to migrate from at their convenience).

[2015-03-09 03:13] JamesWHurst commented on #275
Agreed - FrameBuffer captures it's purpose much more clearly. And it's confusing to have both Msg and NetMQMessage.

[2015-03-09 03:19] JamesWHurst commented on #275
Minor note: I like your idea of *not* using TimeSpan there, since we nearly everywhere use numeric values representing milliseconds - which would seem to be clearer and more efficient.

Since you're proposing to introduce a slightly different syntax for receiving and sending, would this not be an opportune moment to introduce the newer FrameBuffer, and let the obsoleted methods still use Msg? That

[2015-03-09 03:20] JamesWHurst commented on #275
Q: Are you (drewnoakes) proposing methods that could block forever?  If so - why, as opposed to having all current-version methods have some sort of a timeout (which, I would think, helps our unit-tests) ?

[2015-03-09 07:42] drewnoakes commented on #275
The API for sending will closely match that for receiving once this task is
complete.

It is already possible to block forever. In fact that's the default
behaviour for a receive call that doesn't specify DontWait and uses the
default socket ReceiveTimeout. It's not uncommon to have the unit tests
hang when bugs are introduced.

[via phone]
On 9 Mar 2015 03:20, "James Hurst" <notifications@github.

[2015-03-09 09:42] somdoron commented on #275
@drewnoakes I think the idea to deprecate ReceiveTimout (and SendTimeout) is good, however we have to make sure that whoever call the old methods still get the functionality.

I suggest that the internal Receive method (on SocketBase) will have the following API

bool TryReceive(ref Msg msg, bool more, int timeout); // Minus 1 is forever

We can then in the old method throw again exception of fals

[2015-03-09 11:00] drewnoakes commented on #275
Hi Doron,

Thanks for taking the time to provide valuable feedback. I know you're particularly busy at the moment.

Nice to see we're on the same page :) I came to the same conclusion last night, though without the `more` property (it's redundant with the `HasMore` flag on `Msg`), and using a `TimeSpan` for the timeout, to allow sub-millisecond timeout periods in the near future without having to

[2015-03-09 12:57] krisrok commented on #275
was a bit confused too, here's the relevant blog post:
http://hintjens.com/blog:84

i like your ideas though. and calling it "buffer" would still be a improvement over "frame" i guess :)

[2015-03-09 14:07] somdoron commented on #275
@drewnoakes regarding the more parameter, we don't need it on the Receive, but we do need it on the Send as the SetFlags is called inside the SocketBase.Send.

We can also deprecate the SocketFlags enum.

[2015-03-09 17:00] mph911 opened #290 "NetMQSocket.Poll (PollEvent, timeout) return value vs comment"
Please read the following comment, which I believe is wrong:

        /// <summary>
        /// polls the socket for an event as specified to happen within a given timeout period
        /// </summary>
        /// <param name="pollEvents">the poll event(s) to listen for</param>
        /// <param name="timeout">the timeout period</param>
        /// <returns>
        /// PollEvents.None     -> no

[2015-03-09 22:44] drewnoakes commented on #290
@JamesWHurst, can you comment on this and review?

[2015-03-10 00:04] drewnoakes commented on #275
@krisrok thanks for the link. There are some good insights in there, and some sensible plans for the future. I'm going to have a further read about zproto.

I'm working to revise the proposed API based on the comments so far. One goal is to avoid changes now that make it hard to transition away from multipart later.

@somdoron, could a current frame-receiving method such as `ReceiveString` just be

[2015-03-10 03:12] JamesWHurst commented on #290
You're absolutely right (!!!) and this is my doing!  I copy/pasted the first PollEvents comment line, and neglected to remove the "no".  How embarrassing!!  I believe I still have a pull-request pending, right? I'll commit the fix right now.

[2015-03-10 06:51] JamesWHurst commented on #290
Ok - corrected. Please review and merge in.

As I complete the XML-docing, I'll carefully read through it yet again, start to end, to scrutinize it for comment mistakes.  This *is* starting to yield a rather useful API-Reference help-document already.

[2015-03-10 07:15] somdoron commented on #275
@drewnoakes @krisrok I actually had a part on that idea, you can also read the mail list:
http://lists.zeromq.org/pipermail/zeromq-dev/2015-February/028222.html

@drewnoakes I think we can use the same methods for both chunk and frame. Anyway we can go with the frame for now.

For the our list parameter you might want to consider ref to reduce memory usage (only allocate it if is null, other then

[2015-03-10 08:11] somdoron commented on #284
try to use a port that is not used by windows when connecting...

[2015-03-10 08:13] somdoron commented on #284
the windows dynamic range is between 49152 and 65535

[2015-03-10 08:24] somdoron commented on #105
I think the best solution is to create simple ZMTP implementation that is PCL and/or Windows store compatible.

It will be client only and will not be very performance.

We can have it as a separate github project (ZMTP.NET?) or inside NetMQ project.

what do you think?

[2015-03-10 09:21] JamesWHurst commented on #105
You say a "simple" ZMTP implementation?  Do you mean not implement most of the functionality of ZeroMQ?
I am wondering whether the Windows10 common platform, will be substantially different in what it provides for this type of functionality. Has anyone looked at it (I believe some tech doc is already available)?  Clearly at this point (Win8, 8.1) only client machines are the target, and I assume W

[2015-03-10 09:25] JamesWHurst commented on #275
Have you considered a term that is less code-specific, such as "MessageUnit", or "MessageSubunit", or "MessageChunk" ?

Your note on that link is interesting. Yes, simplifying the code and having threadsafe sockets would be wonderful.

[2015-03-10 10:30] FaisalZ commented on #105
From what I saw in the .Net Documentation for Windows Store Apps, the functionallity is available but moved to another namespace (the Windows.Networking namespace) and the API was changed (so no simple namespace replacement possible).
This Windows.Networking namespace is already a common namespace for Windows 8 and above, including Windows Store & Phone. May be it would be an idea to move to its f

[2015-03-10 10:41] somdoron commented on #105
The library lack a lot of features required for netmq. We can make a lean
version just for clients...
On Mar 10, 2015 12:30 PM, "Jonas Trottnow" <notifications@github.com> wrote:

[2015-03-10 10:44] FaisalZ commented on #105
So how do you define a client version of netMQ? Will it only be able to
receive messages?

2015-03-10 11:41 GMT+01:00 Doron Somech <notifications@github.com>:

[2015-03-10 17:46] drewnoakes commented on #275
@somdoron so it's your idea! Having learned ØMQ recently I imagine it could have been quite a bit simpler without multipart messages. Great stuff.

I'll add `ref` functions for `List<T>` methods as well, thanks. There are two in the list for `NetMQMessage` already.

Would be good to avoid using _frame_ in the name. I'll take another look at it tonight.

[2015-03-10 23:02] drewnoakes commented on #275
To date, the default character encoding (when unspecified by the caller) is ASCII.

Are we happy with this? Is this an opportunity to migrate to UTF-8?

For now I'm pulling it into a static field on `ReceivingSocketExtensions`, though it could well be an instance setting on `NetMQSocket`.

[2015-03-11 00:33] JamesWHurst commented on #275
My vote is for an immediate change to UTF-8.  Q - does it make any sense for it to be an instance setting? Would we ever want to have different encodings on different sockets (seems like unnecessary complexity)?

[2015-03-11 00:39] drewnoakes commented on #275
In general the user should be aware of and control encoding. However it seems that UTF-8 has pretty much won the encodings battle for most of the planet, and is likely the best choice. Whether changing this might cause issues, I'm not certain. It seems unlikely to be a harmful change, as UTF-8 is a strict superset of ASCII.

[2015-03-11 02:05] JamesWHurst commented on #275
Going to UTF-8 will be a requirement for an compatibility with Windows Store or Windows 10 code, and I can't see any possible downside unless having N characters convert to M bytes, where M > N, causes a problem. We should of course add unit-tests that send/receive strings that include non-ASCII characters that require >1 and >2 bytes each, to verify this.

I offer this suggestion: Every dimension

[2015-03-11 02:12] JamesWHurst commented on #105
I for one am definitely going to NEED messaging capability for the Windows-10 version of my software projects, and if NetMQ cannot serve then I'll have to use something else such as SignalR or whatever. I  almost want to jump in and help create this, but just doing the XML-doc has sucked a massive amount of time, and there is yet gobs of code that I don't have familiarity with. But, yes - clearly

[2015-03-11 04:39] n1cholson commented on #230
It appears that the NetMQ plugin for Unity installs NetMQ version 3.3.0.12, instead of the current stable release 3.3.0.11 from nuget.  Could this be part of the problem?  The sample CS script in the Unity package hangs during .receiveString.  Adding a timeout to the sample script receiveString call avoids the timeout but no messages are ever received.  Tried with Unity 4 and Unity 5, same results

[2015-03-11 07:51] mph911 commented on #290
@JamesWHurst, GREAT JOB! I love to have XML comments which help to understand the API!

[2015-03-11 07:51] #290 closed

[2015-03-12 01:51] jackdslin commented on #284
I will try.

Thank you.

[2015-03-12 16:57] ndextraze-pbp commented on #126
There's a patch merged for this. Is this issue fixed?

[2015-03-12 21:18] kellyelton opened #294 "Reconnects and durability"
I'm just curious, I can't seem to find any docs. How does this library handle disconnects/reconnecting?

What happens when I lose connection to a publisher for example? Do I need to attach to an event and reconnect, or is there a method that auto reconnects? Is there a max number of times it tries to reconnect, or does it try forever? What's the timeout between reconnects?

Is there message durabi

[2015-03-13 08:48] buybackoff commented on #294
I believe this is documented in the original ZeroMQ guide http://zguide.zeromq.org/php:chapter5#Pros-and-Cons-of-Pub-Sub.

[2015-03-13 10:28] somdoron commented on #294
So reconnect is happen automatically, with a backoff algorithm.

As @buybackoff  said there is not built-in durability.

[2015-03-13 13:37] JamesWHurst commented on #294
For the reconnect behavior - I have added a little bit of XML-documentation within the source that describes this, for SocketOptions properties ReconnectInterval and ReconnectIntervalMax.

[2015-03-13 18:26] buybackoff commented on #294
I have been thinking for a while about optional identities for subscribers and some hook to store undelivered messages to disconnected subscribers (e.g. events on disconnection/reconnection/undelivered messages). Without changing existing API, but opt-in. Kind of persistent subscriptions with persisted queues for disconnected subscribers (with limited time window, Kafka style).  @somdoron What do

[2015-03-13 22:09] JamesWHurst commented on #294
I was thinking in terms of the same thing. It would be very useful to have the capability to whether a few brief disconnections and not lose messages out of the queue.
I'm now working on a tentative Portable-Library version (for Windows 8, 8.1, 10, and Windows Phone), and was thinking of tinkering with adding that there, as an optional capability.

[2015-03-13 22:41] kellyelton commented on #294
Yeah. I noticed that I lose messages fairly often. It may be that I'm not configuring things properly, but maybe 1/100 messages just evaporates at some point.

[2015-03-14 06:21] JamesWHurst commented on #105
I'm starting to tinker with a PCL (Portable Class Library) version of NetMQ.  Q: Has anyone else done anything in this direction yet?  I do *not* want to duplicate anyone else's work!   I was a little hesitant to proceed in-depth, until having Drew Noakes' new API for the Send/Receive methods.

[2015-03-14 08:26] somdoron commented on #105
James I'm actually working on something now... I will have a demo running
today and add to github.

Do you think it should be another repository or part of NetMQ?

On Sat, Mar 14, 2015 at 8:21 AM, James Hurst <notifications@github.com>
wrote:

[2015-03-14 09:27] somdoron commented on #294
@buybackoff durability was actually a part of ZeroMQ v2 and was removed in ZeroMQ v3, maybe @hintjens can explain better why is it not a good idea. Anyway I don't think durability should be part of NetMQ, there is patterns to solve that like Clone pattern in the ZeroMQ guide. Also take a look at Malamute project (https://github.com/zeromq/malamute/) currently is not doing durability but I think it

[2015-03-14 15:38] #284 closed

[2015-03-14 15:44] somdoron commented on #105
@JamesWHurst @FaisalZ take a look at https://github.com/somdoron/ZMTP.NET

It is very early, following are some comments:
* Only dealer is implemented
* More is not supported yet
* It is thread safe
* Only Windows8.1 and windows phone at the moment
* Connect only (no bind)
* Does not handle any socket errors like disconnection
* Can connect to one socket at the moment

[2015-03-14 17:59] #275 closed

[2015-03-14 18:38] drewnoakes opened #299 "Hiding the NetMQ.zmq namespace from users"
There are still a few public types in the `NetMQ.zmq` namespace. From the user's perspective, there's no clear reason for this namespace and it offers the potential for confusion.

Currently the only non-internal types in this namespace are:

* `Endianness`
* `PollEvents`
* `SendReceiveOptions`
* `SocketEvent`
* `ZmqSocketType`
* `ZmqSocketOptions` (though #298 makes this internal)

Can we move th

[2015-03-14 19:12] JamesWHurst commented on #299
I agree.  But since this may mandate changes to developer-code, should it not be wrapped into the next code-breaking change (even if that change is totally trivial), in keeping with the principles of Semantic Versioning?   And if so, then there's probably no need to actually have the dummy-namespace still around, since (in the general case) textual edits will be needed to the user's code.
Regardle

[2015-03-14 19:17] JamesWHurst commented on #105
Excellent!  I'd like to see it be part of NetMQ, - I guess for emotional reasons since we're working hard to make it totally great. That you're expanding it to cover the need for a PCL, makes it greater in importance.

[2015-03-14 19:25] JamesWHurst commented on #294
This is not something I have deep knowledge of (vis a vis NetMQ), but I would think, that for durability there is some cost, and for applications such as a "ping" type of function, it is not desirable -- but for most applications it (durability) is very important and could stand to be a basic, fundamental part of the capability of a messaging library. So perhaps it could be an option?  There is (I

[2015-03-15 08:35] somdoron commented on #299
I think it is a good idea, and then we can get rid of the zmq folder at all and change it to something like Core.

[2015-03-15 13:45] drewnoakes opened #300 "TCP accept filters not working"
The internal `Options` class builds up a list of `TcpAcceptFilters` which are never queried.

The `TcpAddressMask.MatchAddress` is also never called.

[2015-03-16 09:01] msykora commented on #234
Sorry, my workload has been slightly crazy in the last month and it doesn't seem to let up, and even though this is not a big change, I don't want to take it lightly... i am not sure when I can do this...

[2015-03-16 14:13] JamesWHurst commented on #300
Yes - I saw that and added a TODO comment asking what's up with that (see my latest PR).

[2015-03-18 03:28] JamesWHurst opened #302 "PgmTests - all unit-tests hang, on my machine. ?"
When trying to run the unit-tests on the source-code (the most recent version as of today, 2015-3-17) - all tests pass except for those within PgmTests. All of the tests within PgmTests seem to hang indefinitely, when I try to run them.
If I select "Debug Unit tests" (I'm using ReSharper's test-runner), on (e.g.) BindBothTests, it looks like it's throwing a SocketException in PgmSender.Init, at m_

[2015-03-18 05:52] tobi-tobsen commented on #302
Can you paste the socket exception?
Are you sure you installed pgm via add /remove Windows components? Also you need to start your test runner with admin privileges.

[2015-03-18 05:57] tobi-tobsen commented on #302
it might be the same issue you had in issue #256

[2015-03-18 06:45] JamesWHurst commented on #302
That's what's weird - this is the same machine. And I double-checked that I still have the MSMQ components installed and am running as Admin.

[2015-03-18 07:20] drewnoakes commented on #302
These tests have always failed on my machine, presumably as I don't have
MSMQ installed. I read somewhere that the process must also run with
elevated permissions.

Can you check the build log and verify that this is where the hang occurred?

[via phone]
On 18 Mar 2015 03:29, "James Hurst" <notifications@github.com> wrote:

[2015-03-18 10:51] yeowgit opened #303 "Client port in TIME_WAIT tcp state"
We use REP-REQ socket pattern over TCP transport. Upon client disconnection, the port stays in TIME_WAIT tcp state, waiting for its lifetime timeout to occur. This is a problem when there are high volume of rapid REQ connections within the timeout period and cause port exhaustion.
Is there a way to transition from TIME_WAIT state so that port is available to reuse once client has disconnected?

[2015-03-18 11:24] yeowgit commented on #303
Below code shows the REP-REQ code flow

Server:
	...
	var context = NetMQContext.Create();
	using (var socket = context.CreateResponseSocket())
	{
		socket.Options.Identity = Encoding.ASCII.GetBytes("Server");
		socket.Bind("tcp://*:7099");

		while (true)
		{
			// Receive the message
			var msg = socket.ReceiveMessage(TimeSpan.FromMilliseconds(300));
			// Send response
			socket.Send(DateTime.N

[2015-03-18 11:25] somdoron commented on #303
First I suggest to also try the zeromq dev list, as this problem is true
for zeromq as well and somebody may already solve it.

Anyway I suggest to try and edit the following file, set the socket linger
to zero after accepting the socket:

https://github.com/zeromq/netmq/blob/master/src/NetMQ/zmq/Transports/Tcp/TcpListener.cs

On Wed, Mar 18, 2015 at 12:51 PM, yeowgit <notifications@github.com> wr

[2015-03-18 11:27] somdoron commented on #303
You can also have a Forward Device at the client side between the REQ and
REP sockets, then the REQ connect to the device using inproc and the device
forward the requests to the REP socket. Only the device will make the
connection to the REP socket. This will work if the services are long lived
and only the requests are short

On Wed, Mar 18, 2015 at 1:24 PM, yeowgit <notifications@github.com> wro

[2015-03-18 11:32] somdoron commented on #300
I think the feature is not used, it was ported incorrectly from ZeroMQ so I
removed it some time ago (it actually never worked).

I suggest to obsolete the Options, if somebody in the future will request
the feature we can try and implement it.

On Mon, Mar 16, 2015 at 4:13 PM, James Hurst <notifications@github.com>
wrote:

[2015-03-18 12:19] yeowgit commented on #303
Thanks to your quick response.
I set the linger option to 0 as below in TcpListener.cs but no success.

        private void Accept()
        {
            m_acceptedSocket = AsyncSocket.Create(m_address.Address.AddressFamily, SocketType.Stream, ProtocolType.Tcp);

            // start accepting socket async
            m_handle.Accept(m_acceptedSocket);

            m_acceptedSocket.SetSocketOpti

[2015-03-18 17:45] deanroker123 commented on #303
I think this behavior is os specific and follows the tcp spec. They stay in
time wait for a period of time waiting for any stay packets to arrive that
might have been lost while the connection was alive. If you were to reuse
the same port pairs again straight away and a packet arrived for the old
connection it would cause issues.

I don't think there is anything netmq can do to change this.

Thank

[2015-03-18 17:46] deanroker123 commented on #303
Oh I forgot to say, if you open another connection from the client it
should just pick a new source port and make the connection from that.
On 18 Mar 2015 17:44, wrote:

[2015-03-18 21:39] drewnoakes commented on #300
Sounds good. Removed in 1549f3d.

[2015-03-19 02:31] JamesWHurst commented on #302
I'm not sure how to check the build-log.

I see that this test (PgmTests -- all of those) hang on my home machine, but not on my machine at work. Both do have MSMQ installed. Home is running Win 8.1, with an 8-core i7-5960X, work is Win 7 with only 2 cores.  Last year I was noting that some certain tests hang when you run them on a box with only one core (I was using a virtual machine). Not the ca

[2015-03-19 09:38] yeowgit commented on #303
I find that setting linger option to 0 to 'm_handle' socket has the desired effect. TIME_WAIT has transition when Close/Dispose is call from Request socket.

    private void Accept()
    {
        m_acceptedSocket = AsyncSocket.Create(m_address.Address.AddressFamily, SocketType.Stream, ProtocolType.Tcp);

        // start accepting socket async
        m_handle.Accept(m_acceptedSocket);

[2015-03-19 10:22] #299 closed

[2015-03-19 10:22] #300 closed

[2015-03-19 10:24] somdoron commented on #303
@yeowgit I suggest to create a new Socket option (DisableTimeWait?) on the socket options, then in the Accept method you mention above check if the socket option is set and and if it does set the linger to zero.

[2015-03-19 16:29] drewnoakes commented on #302
Is there some action to take on this issue, or can we close it?

[2015-03-19 18:16] yeowgit commented on #303
Thanks, I followed your advice. I created a pull request if interested.

[2015-03-19 21:16] drewnoakes commented on #200
#305 fixes problems with the serialisation of `NetMQException` and its subclasses.

[2015-03-19 23:18] drewnoakes commented on #303
@yeowgit with #304 and #306 merged, are you satisfied that this issue has been addressed?

[2015-03-20 12:08] yeowgit commented on #303
@drewnoakes yes, thanks very much for everyone assistance

[2015-03-20 12:08] #303 closed

[2015-03-23 13:34] hivanov opened #309 "Commercial Support"
Hello,

We are wondering if there is commercial support for your Library. I see it not part of the original ZeroMQ project, and have been informed on the Zeromq IRC channel that this is an independent effort and thus not supported by them.

[2015-03-24 08:28] leonarf opened #310 "How to properly free a monitor in order to be able to recreate it"
Hello everyone, I'm having problem using Monitor with NetMQ.

Here's what I do :

1. I create and bind a DEALER socket, associate a monitor to it and start monitoring it.
2. Then I Unbind the socket, stop monitoring, and dispose everything but the NetMQContext.
3. Finally, I want to start again 1) but I receive a NetMQException because the inproc socket created by the DEALER socket to send event t

[2015-03-25 11:53] SriramSakthivel commented on #165
Hi, I'm running into the very same problem. I've noticed that this has been [answered here](http://stackoverflow.com/questions/26638792/how-do-you-shutdown-a-zmq-queuedevice-from-a-worker-thread-in-c-sharp).

Do I have to build the assembly from [this code](https://github.com/somdoron/netmq/blob/DeviceBaseInitialize/src/NetMQ/Devices/DeviceBase.cs)? Or any chances of getting the code merged?

Will

[2015-03-25 12:33] leverate-somech commented on #165
@SriramSakthivel pull request is added, will probably get merged soon

[2015-03-25 12:35] somdoron commented on #309
@hivanov I don't know of any commercial support currently offered to the product. What is it exactly that you are looking for? you can also contact me privately at somdoron AT gmail DOT com

[2015-03-25 12:36] SriramSakthivel commented on #165
@leverate-somech Thanks for the very quick action :)

[2015-03-25 12:43] #165 closed

[2015-03-25 12:44] drewnoakes commented on #165
@SriramSakthivel, it's merged now.

[2015-03-25 12:48] SriramSakthivel commented on #165
@drewnoakes Thanks. When this will be published in nuget?

[2015-03-25 13:54] somdoron commented on #310
the problem is that socket disposing is async, so when you dispose the Server it will actually will take a little longer until it will be completely disposed and the monitoring will be disposed. I suggest using a random monitor address or to wait for a little while.

[2015-03-25 14:12] somdoron opened #315 "nuget release"
What do you think should be our nuget release process? Here are some of my ideas:

Idea #1
* Beta version - continues from the source and build (or minor?) part of the version is odd and revision is continues number + the beta to make it pre-release or we can also have a different nuget project for this entirely to make sure nobody confuse (still with odd versioning).
* Stable version - build numb

[2015-03-25 17:32] acnovais opened #316 "CancelAndJoin stays blocked"
Hello,

I am having an issue with NetMQ on using a poller. When calling CancelAndJoin it gets on that instruction and never continues.

Is this a known issue?  Or can you point me to what I could be doing wrong ?

I am using nuget version 3.3.0.12-rc1

Thanks.

[code]

[2015-03-27 08:26] krisrok commented on #316
can you please add a self-containing code snippet trying to reproduce the issue so we do not have to make assumptions about the rest of your program

[2015-03-27 18:01] acnovais commented on #316
Sorry, of course.

In the meantime I figured out the case in which this occurs. I am posting the code for my Dealer socket. My router socket is not relevant.

The case is that the CancelAndJoin does not continue when there is no real connection (I shut down my Router socket) and there are messages to send by the dealer. If I then turn on my Router socket its able to continue execution. I then figu

[2015-04-01 20:48] meraydin opened #319 ""high" CPU utilization in Publisher.Server"
I use the following code snippet in Publisher/Subscriber example. Code works okay however publisher consumes 25% CPU "continuosly" on "pub.SendMore(..)" line - regardless of the number of subscribers connected (including zero subscriber).

Am I missing something?

P.S. "cq" in the code is a ConcurrentQueue.

        static void Server(NetMQContext context)
        {
            using (var pub = co

[2015-04-02 08:20] AlekseiOhotnik commented on #319
You didn't mention that uncommenting 1000 ms timeout in your code fixes this problem. In case it doesn't in your app than check my point A which describes a busy spin to see if that is the case. While overflow described in B on the netmq side should be handled by fix.

There are mutliple issues which I see immediately in both NetMQ and your example:

A) It is not clear what values "hasMore" from y

[2015-04-02 10:26] meraydin commented on #319
Hmm i was looking for the documentation for "timeout" parameter actually. I didn't know it has this effect. I will give it a try tonight and report back.

Thanks

Sent from my Samsung device

-------- Original message --------
From: AlekseiOhotnik <notifications@github.com>
Date: 02/04/2015 11:22 AM (GMT+02:00)
To: zeromq/netmq <netmq@noreply.github.com>
Cc: Murat Eraydýn <murat.eraydin@karmasis.c

[2015-04-02 14:36] meraydin commented on #319
Test results:

·       Changing monitor.Timeout to 1000ms helped a little (was 25% now 12%) but still looks high to me. I’ve played with other values (timespan.zero, 100ms, 1ms) but it remained around 12-13% (flat line on taskmanager)

·       hasMore is a bool and is “true” for this example. Also checking cq.IsEmpty has no effect on cpu usage.

What I’ve discovered while playing with the code:

·

[2015-04-02 15:50] meraydin commented on #319
Well, it looks my code is somehow not correct. I cannot figure out how to write a realworld example that use NetMQ. I’m attaching the complete server code… Just run it and watch CPU…

What I’m trying to do:

·       Fill a concurrent queue from another thread

·       Have a worker thread that will watch the concurrent thread and send the messages to it’s subscribers

Above two topics look what Ne

[2015-04-02 16:39] AlekseiOhotnik commented on #319
If all the cpu is doing is checking cq.IsEmpty it is exactly where all its cycles will go, so it consumes the whole core. You can find more explanations from links at the end. What you are looking for is some sort of signaling here so thead can suspend and resume when there is actual work to be done. If you don't want to bother with implementation yourself you can use BlockingCollection instead of

[2015-04-02 17:03] meraydin commented on #319
Thanks a lot… I’ve implemented “A” and now it works cool ;)

From: AlekseiOhotnik [mailto:notifications@github.com]
Sent: Thursday, April 02, 2015 7:39 PM
To: zeromq/netmq
Cc: Murat Eraydın
Subject: Re: [netmq] "high" CPU utilization in Publisher.Server (#319)

If all the cpu is doing is checking cq.IsEmpty it is exactly where all its cycles will go, so it consumes the whole core. You can find mor

[2015-04-02 21:31] BruceMellows commented on #319
You should do an experiment ... how many Sleep(1) can I do in one second
- if you tell me the answer, I can tell you if you have a single or
multi-core machine, and the answer will not even be close to 1000.

Hint - the answer should be (close to) either 60 or 100.

On 3/04/2015 1:36 AM, meraydin wrote:

[2015-04-02 21:46] meraydin commented on #319
Well, it looks like I can do 1014 sleeps in one sec. (empty loop)

If you’re asking “how many sleeps in that code section in one second”, can’t tell since I’ve already changed it with BlockingCollection.

From: BruceMellows [mailto:notifications@github.com]
Sent: Friday, April 03, 2015 12:32 AM
To: zeromq/netmq
Cc: Murat Eraydın
Subject: Re: [netmq] "high" CPU utilization in Publisher.Server (#319

[2015-04-03 09:23] AlekseiOhotnik commented on #319
The correct answer how many iterations the loop with Sleep(1) is going to make depends on the frequency of the clock which can be in range of 64hz to 1000hz on windows systems. So it is any number between 60 and 1000  +/- some margin. Meraydin has probably a browser open on his system which requested windows to set resolution to maximum for multimedia latency purposes or some other software did th

[2015-04-06 18:54] meraydin commented on #319
Here is what I've come up with. This is working... HTH someone else.

using System;
using System.Collections.Concurrent;
using System.Threading.Tasks;
using NetMQ;
using NetMQ.Monitoring;
using NetMQ.zmq;
using System.Threading;

namespace Publisher
{

    class Program
    {

        static BlockingCollection<string> bq = new BlockingCollection<string>();
        static CancellationTokenSource ct

[2015-04-06 18:54] #319 closed

[2015-04-06 19:26] mpkramer commented on #316
m_isStoppedEvent is not needed in \netmq\src\NetMQ\Poller.cs ?

Interlocked.Exchange(ref m_cancel, 1); (in Cancel(bool waitForCloseToComplete)) is sufficient ?

[2015-04-08 15:40] FaisalZ commented on #98
@krisrok are you shure that the 3.3.0.11 release of netMQ is compatible with Unity? I tried to use it, and it compiles and imports without issues. But there are no messages comming through (using a simple PUSH/PULL pattern).
When I swap the AsyncIO.dll and NetMQ.dll to the ones compiled from the Unity fork by @somdoron it workes flawless.

[2015-04-10 02:46] zhengchun opened #323 "NetMQContext's MaxSockets is wrong."
hi,i found a MaxSockets property of NetMQContext class is not correct,
[code]
should be change a `m_ctx.IOThreadCount = value` to `m_ctx.MaxSockets = value`,right?

[2015-04-10 08:13] FaisalZ opened #324 "Still problems with netMQ 3.5 and Unity"
Although it has been stated as solved in issue report #98, I am still facing problems when integrating zeroMQ into Unity.
It compiles and starts well when beeing used as managed plugin in Unity, but it does not send out any messages.
When I swap the NetMQ.dll and AsyncIO.dll for the ones compiled from somdoron's fork (without changing any code) it workes fine as expected.
@krisrok: Did you compile

[2015-04-10 16:12] joaoantunes opened #325 "Long running application error: "NetMQ.NetMQException NetMQ.zmq.TcpConnecter.Connect()""
Hi,

I've implemented a Service Broker using the Majordomo Pattern.
After I let my application running +/- a day, my application crashed and I've got following log, on the event viewer:

"Application: VW.Hosting.App.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: NetMQ.NetMQException
Stack:
   at NetMQ.zmq.TcpConnecter.Connec

[2015-04-11 09:08] somdoron commented on #325
Can you try the latest code from master (soon will be released as stable
version)?

On Fri, Apr 10, 2015 at 7:12 PM, João Pedro Antunes <
notifications@github.com> wrote:

[2015-04-11 09:15] somdoron commented on #323
Yes. You are right, do you want to provide a pull request?

On Fri, Apr 10, 2015 at 5:46 AM, z.chun <notifications@github.com> wrote:

[2015-04-11 09:16] somdoron commented on #98
Try version 3.3.0.12-rc1, or to build from source.

On Wed, Apr 8, 2015 at 6:40 PM, Jonas Trottnow <notifications@github.com>
wrote:

[2015-04-11 19:55] kellyelton commented on #310
Actually are you sure it's not because he's disposing the socket twice?

[2015-04-11 20:31] kellyelton opened #326 "Disposing NetMQScheduler hangs"
If you don't actually start the `NetMQScheduler` and try to `Dispose` it, it hangs.

[2015-04-11 23:11] eddylai opened #327 "Majordomo worker sample code hangs"
I tried to start the netmq majordomo example (with VS2013 on Win7)
"StartMDPExample - Verbose.bat"
the worker terminal dead after few seconds, have anyone got the same problem?
and the client didnt get any reply from the worker
## the message from worker terminal like this:

Starting the worker!
[WORKER] connected to broker at tcp://localhost:5555
[WORKER] sending NetMQMessage[,MDPW01,?,echo] to b

[2015-04-12 14:58] drewnoakes commented on #323
Closed by #328.

[2015-04-12 14:58] #323 closed

[2015-04-12 17:59] esskar commented on #326
Can you give an example? I added a test

    [Test]
    public void NoTask()
    {
        using (var context = NetMQContext.Create())
        {
            var scheduler = new NetMQScheduler(context);
            scheduler.Dispose();
        }
    }

but it runs just fine

[2015-04-12 18:02] kellyelton commented on #326
I guess I did add a poller  to it as well, could try that.
On Apr 12, 2015 12:59 PM, "Sascha Kiefer" <notifications@github.com> wrote:

[2015-04-12 20:54] esskar commented on #326
@kellyelton could you just provide example code that fails. Guessing is not really helpful here

[2015-04-12 22:31] kellyelton commented on #326
Yeah sure, just throwing thing out there, won't have access till tomarrow.
Also, as a side not probably going to open a second ticket because this
disposal system is pretty rube goldberg
On Apr 12, 2015 3:54 PM, "Sascha Kiefer" <notifications@github.com> wrote:

[2015-04-13 11:58] joaoantunes commented on #325
Sure, I'll try that.
I've download the source code, now I should use which which project? NetMQ or NetMQ3.5?

[2015-04-13 12:47] drewnoakes commented on #325
The two projects are mostly identical. NetMQ3.5  targets .net 3.5, so
unless you're using that version of .net, use the other project.

On Mon, 13 Apr 2015 12:58 João Pedro Antunes <notifications@github.com>
wrote:

[2015-04-13 20:04] kellyelton commented on #326
var _context = NetMQContext.Create();
	var _ssocket = _context.CreateSubscriberSocket();
	var _poller = new Poller(_ssocket);
	var _scheduler = new NetMQScheduler(_context, _poller);
	_ssocket.Dispose();
	_scheduler.Dispose();
	_context.Dispose();

[2015-04-14 11:11] esskar commented on #326
you must be doing something totally different.
please provide a unit test that fails.

        [Test(Description = "Disposing NetMQScheduler hangs #326")]
        public void Issue326()
        {
            var context = NetMQContext.Create();
            var ssocket = context.CreateSubscriberSocket();
            var poller = new Poller(ssocket);
            var scheduler = new NetMQScheduler(co

[2015-04-14 14:53] drewnoakes commented on #326
Kelly, I'd that unit test fails on your computer then what environment are
you using? OS, .NET version, build configuration, etc...

On Tue, 14 Apr 2015 12:11 Sascha Kiefer <notifications@github.com> wrote:

[2015-04-14 15:41] kellyelton commented on #326
Windows 8.1. Both .net 4.5.1 and running in linqpad.
On Apr 14, 2015 9:53 AM, "Drew Noakes" <notifications@github.com> wrote:

[2015-04-14 15:44] kellyelton commented on #326
That hangs ok every pc it's ran on. I'm also using the nuget  package.
On Apr 14, 2015 10:41 AM, "kelly elton" <its.the.doc@gmail.com> wrote:

[2015-04-16 04:50] DamianReeves opened #331 "IPC implementation"
Are there any plans to support IPC in NetMQ? I would love to be able to do cross process communication which didn't require eating up a port. Has there been any research to see if named pipes can fill this need.

The main issue is that the advanced ZeroMQ patterns may (such as the interconnected brokers in zguide chapter) would all require many ports to work.

[2015-04-16 12:36] drewnoakes opened #333 "Solution files"
The project currently has three solution files. Each appears to be for a different version of Visual Studio, however the names don't match the actual versions.

* `NetMQ.sln` is version 11 (VS2010)
* `NetMQ.v11.sln` is version 12 (VS2012)
* `NetMQ.vs10.sln` is version 10 (VS2008)

Do we need these different solutions? If so, they should be renamed/corrected to reflect the correct VS versions.

[2015-04-16 12:56] somdoron commented on #333
I think now we only need the 2013 solution...
On Apr 16, 2015 3:36 PM, "Drew Noakes" <notifications@github.com> wrote:

[2015-04-16 12:58] drewnoakes commented on #333
Ok. I'll get a PR together for that.

The build will need to be updated too as it currently seems to build
vs10.sln.

On Thu, 16 Apr 2015 13:56 Doron Somech <notifications@github.com> wrote:

[2015-04-16 13:14] leverate-somech commented on #333
@drewnoakes I fixed the build

[2015-04-17 13:21] benlecc opened #335 "Unhandled Exception when executing a simple program in Standalone mod on Unity 5"
Hi,
I'm using NetMQ on MonoDevelop and I have to to send information between a  C# program (server on unity) and a C++ program (client). I work on Mac OSX and I use Unity 5.
I did a "Hello world program", it's running without any issues in Unity Editor (when I press play). But when I execute it (after building it on Unity in standalone mod), it doesn't work.
My Hello world program on Unity :

[cod

[2015-04-20 00:53] eddylai commented on #327
have anyone tried this?

[2015-04-20 11:19] #333 closed

[2015-04-20 11:20] somdoron opened #336 "Merge NetMQSchduler and Poller into NetMQPoller"
What do you think of disposing the NetMQScheduler and make the Poller a scheduler?

[2015-04-20 12:45] SriramSakthivel opened #337 "netmq high cpu utilization pub/sub socket"
Hi,

I've lately migrated to netmq from clrzmq. I discovered that netmq consumes high cpu usage when using `SubscribeSocket`.

I'm specifying the infinite receive timeout. It doesn't matter whether the data is received or not, netmq takes high cpu.

I've created a minimal reproduction code to demonstrate the problem.

Following is the code which I tested with clrzmq. Which works good; zero percent

[2015-04-20 17:54] tobi-tobsen commented on #337
It seems the documented way of passing a negative value to the [`System.net.sockets.socket.poll`](https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.poll%28v=vs.110%29.aspx) doesn't work as advertised:

 This might be a bug in the .Net framework since it doesn't block until data is available.
From the user of the zmq's API point of view, the observed behaviour is correct: `TryRecei

[2015-04-21 08:46] AlekseiOhotnik commented on #337
Pass:
1) TimeSpan.FromMilliseconds(-1) for infinity
2) TimeSpan.FromMilliseconds(0) for no polling
3) above zero values in milliseconds for maximum allowed polling time. It should be reasonable value below 30 min (in ms), but will work if above with multiple calls to sockets underneath.

Negative values were supposed to resolve to -1, but maybe you don't have the fix on version used.

[2015-04-21 09:16] SriramSakthivel commented on #337
@AlekseiOhotnik  @tobi-tobsen Thanks for the reply. I checked the .net reference source. It just adds a special case for value -1 (infinite) not for all negative numbers as the documentation is claiming.

But if I do `TimeSpan.FromMilliseconds(-1)`, then when the `Signaler.WaitEvent` method in netmq converts the millisecond to microsecond, it will become `-1000` which is wrong. We need to pass -1

[2015-04-21 09:52] SriramSakthivel commented on #337
I have updated the code and created a [pull request](https://github.com/zeromq/netmq/pull/338). Please review it and accept it.

[2015-04-21 12:40] AlexeyTimofeev opened #339 "Looks like "subscriber.Options.ReconnectInterval = TimeSpan.FromMilliseconds(-1)" doesn't work."
Hello, I was trying to avoid any attempt to renew connection automatically, but suggested mechanism:
[code]
doesn't work. I always receive error in TcpConnector.cs (method GetNewReconnectIvl(), first line).

![image](https://cloud.githubusercontent.com/assets/11872546/7252293/51023c4c-e83c-11e4-9d72-3a35e4fdfe13.png)

Could you please take a look on my code and answer? Here it is:
[code]

[2015-04-21 19:11] drewnoakes commented on #336
I really like this idea. In fact only today I hit upon something that this would have helped with -- Ideally the Poller/Scheduler would set the current `SynchronizationContext` so that tasks continue on the poller thread and not a threadpool thread. This was causing some weird bugs for us where messages were being interleaved.

To keep .NET 3.5 support, the scheduler code could be enclosed with `#

[2015-04-21 20:59] drewnoakes commented on #337
Thanks. Pushed as c0902f8e56a4f4c7c8e79d70daa7b5cc722e4f58.

[2015-04-21 20:59] #337 closed

[2015-04-21 21:00] drewnoakes commented on #337
Fixed in 9aa582a5c2331cc46db26037f3c7047b66f4d310.

[2015-04-22 21:28] drewnoakes commented on #336
Currently the types are:

[code]

Merging them we could end up with:

[code]

To make this a non-breaking change has a challenge. `NetMQScheduler`'s constructor uses an instance of `NetMQContext` to create push/pull sockets, however `Poller` doesn't require a context in its constructors.

Options I see are:

* Obtain a context from the first `NetMQSocket` or `NetMQTimer` added. This fails if only

[2015-04-22 21:38] drewnoakes commented on #336
How do we feel about referencing [Microsoft.Bcl.Async](https://www.nuget.org/packages/Microsoft.Bcl.Async) to enable async/await on selected APIs while still targetting .NET 4.0?

I'm contemplating the following public API:

[code]

For .NET 3.5, the `TaskScheduler` base class will be dropped, and `*Async` methods will return `void` instead of `Task`.

Also, is there a use case for the current `Po

[2015-04-22 21:42] drewnoakes commented on #336
As `NetMQPoller` has an inbuilt scheduler, what if the `Add`/`Remove` and maybe even `Stop` and `Dispose` methods were internally scheduled to ensure thread safety?

[2015-04-22 22:35] drewnoakes commented on #336
The scheduling of `Add`/`Remove` calls would be harder to do in .NET 3.5.

What about only obsoleting the current `Poller` in .NET 4+?

[2015-04-22 23:17] drewnoakes commented on #336
WIP here: https://github.com/drewnoakes/netmq/blob/feature/merge-poller-and-scheduler/src/NetMQ/NetMQPoller.cs

[2015-04-23 13:30] JamesWHurst commented on #336
I like your idea. It's very useful to be able to choose methods that do not block, and this follows an established pattern.

[2015-04-30 14:44] joaoantunes commented on #325
Ok I've made a NugetPackage with latest code from the master (29/04/2015).

So far so good, the ServiceBroker (and the rest of the app) is running. I'll let it run for some more time to check if everything is ok.

One thing that I've detected is that now my program doesn't close... I attached the program and check the threads and one was stuck here:

At netmq-master\src\NetMQ\Core\Utils\Signaler.c

[2015-05-13 07:47] leverate-somech commented on #339
this behavior is not supported at the moment. Why do you want to do that?

[2015-05-13 07:53] AlexeyTimofeev commented on #339
I want to have full control on connection state. And to start reconnection attempt manually.

[2015-05-13 07:54] leverate-somech opened #340 "Socket outgoing API"
I want to make the socket outgoing api consistent with receiving API changes from #275.

What do you think should be the naming of the methods?

I thought of:

SendMoreFrame - for a more frame?
SendLastFrame - for last one?

We can also make it a fluent API like

Socket.Frame("123").Frame(new byte[]{0}).Send();

and the non blocking way

Socket.Frame("123").Frame(new byte[]{0}).TrySend();

However

[2015-05-13 08:31] leverate-somech commented on #340
I just don't want to multiple each method by 3 (More, Last and one with more parameter)

[2015-05-13 15:38] yeowgit opened #341 "Beacon - exception sending message via shim"
Hi,

I am experimenting with beacon using the tutorial from the doc, http://netmq.readthedocs.org/en/latest/beacon/

I copy the code from the doc page, with a change to send a message via shim if a disconnection is detected. I have two nodes connecting to each other. When one of the node is disconnected, I get below stack trace (on NetMQPollerThread) on the node that is still alive.

    at NetMQ.

[2015-05-14 05:43] somdoron commented on #341
I think your problem is that the context get terminated, find the place you
dispose the context, you might dispose it too early while the beacon is
still running. To try to solve remove the context dispose command (or
remove using), and see if you still have the problem

On Wed, May 13, 2015 at 6:38 PM, yeowgit <notifications@github.com> wrote:

[2015-05-14 10:47] yeowgit commented on #341
Problem solved. Unhanded exception was thrown elsewhere causing this problem after OnShimReady handler was invoked. I think I got Beacon working as intended for now. Thanks.

[2015-05-14 10:47] #341 closed

[2015-05-14 13:22] msnelling commented on #331
I would also like to see an IPC implementation with something like shared memory.

[2015-05-14 13:32] drewnoakes commented on #340
Current sending API of `IOutgoingSocket` is:

    void Send(ref Msg msg, SendReceiveOptions options)

With extension methods:

    byte[] bytes = ...;
    socket.Send(bytes)
    socket.Send(bytes, length, dontWait=false, sendMore=false)
    socket.Send(bytes, length, SendReceiveOptions)
    socket.SendMore(bytes, dontWait=false)
    socket.SendMore(bytes, length, dontWait=false)

    string str =

[2015-05-14 14:11] leverate-somech commented on #340
I like the TrySend idea, mainly because it is following the TryReceive. Regarding the fluent, I have a mixed feeling about that do. Anyway I think the TrySend should replace the Send methods and for NetMQMessage we can replace it with fluent.

Regarding locking, I planning to port the Server & Client socket types from libzmq which provide thread safety.

Lock around a send will only work for singl

[2015-05-14 14:16] drewnoakes commented on #331
[Named pipes](https://msdn.microsoft.com/en-us/library/bb546085(v=vs.110).aspx) might be an option. Looks like they've been around since .NET 3.5.

They're [not supported by Mono](http://mono.1490590.n4.nabble.com/NamedPipeServerStream-in-Mono-tt4659060.html#a4659112) though.

[2015-05-14 14:23] drewnoakes commented on #340
Regarding locking, I was referring to `OutgoingMessage.Send` (from the proposed fluent API), not `IOutgoingSocket.TrySend`. It could be threadsafe for applications that only send via that function, as all frames of the message are available at the moment the send occurs. However if any of the sends fail, it's not clear what to do.

Porting the new Client/Server socket types would be great and is p

[2015-05-14 14:27] somdoron opened #342 "Nuget releasing"
I would like to get more maintainers on the owners list on NetMQ nuget (https://www.nuget.org/packages/NetMQ/) so a versions will be released consistently, currently I'm the only and not always have the time to release version to nuget (like in the last few month).

Anyway to do that I think we need some kind of a guide/process on how to release a version, for example:
- is it beta / stable?
- how

[2015-05-14 14:29] somdoron commented on #340
and what about the inconsistency with the receiving API? one is fluent and the other is not...

Can we do fluent to Receive API somehow?

[2015-05-14 14:37] drewnoakes commented on #340
Interesting. I'm not sure the receiving APIs make sense in fluent form
though as there would be potentially multiple return values. How would you
imagine that looking?

They would still be more consistent than they are now. Perhaps we can do
even better.

On Thu, 14 May 2015 15:30 Doron Somech <notifications@github.com> wrote:

[2015-05-14 14:38] buybackoff commented on #342
[FAKE](http://fsharp.github.io/FAKE/) workflow if very good for packaging. I use it even for small projects with local packages (on disk, not nuget.org). Requires several clicks to release a new version with updated release notes. Stable/pre is just a matter a version numbering in the RELEASE_NOTES.md file.

[2015-05-14 14:40] drewnoakes commented on #342
Happy to help with this. I agree that a process is needed. Well put some
thought into it.

One idea is just to release after every merged PR as an alpha package (or
whatever NuGet calls unstable) with occasional stable releases. This
reduces the bed of people to take dependencies on source releases to get
the latest stuff.

On Thu, 14 May 2015 15:28 Doron Somech <notifications@github.com> wrote:

[2015-05-14 15:26] somdoron commented on #342
I like the idea of alpha releases, we can do this automatically with teamcity. Regarding the stable releases, how do we manage them? until now I did it without a process, just cherry-pick critical bugs and release a stable and alpha for master, when master become stable I released it as stable. However this is too complicated.

Suggested process:

1. Release an RC from time to time and branch (to

[2015-05-14 16:34] drewnoakes commented on #336
@somdoron do you have time to review this? I've done a little more work on merging the `NetMQScheduler` and `Poller` into `NetMQPoller`. I've added some unit tests now.

Notes:

- `NetMQPoller` behaves differently on .NET 3.5 where there is not `System.Threading.Tasks`
- There's a half-baked abstraction over `Poller` and `NetMQPoller` to get tests working with `NetMQMonitor` and this abstraction w

[2015-05-14 17:03] somdoron commented on #336
Yes I will take a look today or tomorrow...

On Thu, May 14, 2015 at 7:34 PM, Drew Noakes <notifications@github.com>
wrote:

[2015-05-14 17:11] somdoron commented on #340
the receiving can be with lambda, something like:

socket.CreateIncomingMessage().ReceiveString(s=> name = s).ReceiveBytes(b => bytes = b);

We can also have an optional flag, which mean this is the last mandatory frame, from here it is optional (will not through exception is missing), like:

socket.CreateIncomingMessage().
  ReceiveString(s=> name = s).
  Optional.ReceivePayload(b => bytes = b);

[2015-05-14 17:18] somdoron commented on #340
But I'm we might start with making the existing Send API look more like the Receive API. Then we can continue with creating fluent API for both.

By the way, the fluent API doesn't have to start from the socket, we can start it from object the can be reused, like:

OutgoingMessage outgoing = OutgoingMessage.Create();
outgoing.Add(name).Add(Payload).Send(socket); // send is also clearing the existi

[2015-05-14 19:01] drewnoakes commented on #340
One benefit of your code is that you can treat the intermediary objects as immutable. For example, you could reuse a leading set of frames:

[code]

A downside of this is that the following code looks reasonable but actually doesn't work:

[code]

You can use the `[Pure]` annotation to get R# to provide a diagnostic for this, but that's hardly a solution.

A linked list also uses O(N) allocations

[2015-05-15 09:00] drewnoakes commented on #340
I missed your comment about fluent receive using lambdas.

It's a clever approach, but I'm not sure it'd be easy to discover. Also each of those lambdas involves an object instantiation, so receiving now allocates/collect O(N) in the number of fields.

[2015-05-15 11:39] drewnoakes opened #344 "Use of EventDelegatorHelper<T>"
Just looking at this class, I can't see what it gives above just using a C# `event` (`MulticastDelegate`) directly. Am I missing something?

Also the code here looks suspicious:

* [NetMQActor constructor](https://github.com/zeromq/netmq/blob/master/src/NetMQ/NetMQActor.cs#L140)
* [Actor constructor](https://github.com/zeromq/netmq/blob/master/src/NetMQ/InProcActors/Actor.cs#L68) (deprecated)

Sho

[2015-05-15 13:41] somdoron commented on #344
you are right about the bug in the code. We want to delegate an event from the NetMQSocket to the NetMQActor, however we only want to register once if anyone register to the NetMQActor and to unregister if not one register.

It is very small performance improvement (that might not needed, as usually only one register happen anyway), so if would not use it we would register to the origin event the

[2015-05-15 13:42] somdoron commented on #340
I'm with out , I think we should forget from the fluent from now and make the send consistent with the send. I actually had it ready but I undo it as I don't like the number of overloading. I will get to it again :-)

[2015-05-15 13:43] somdoron commented on #342
@drewnoakes do you have a nuget user?

[2015-05-15 13:53] drewnoakes commented on #342
Yep: `drewnoakes`

[2015-05-15 14:27] somdoron commented on #342
added you as owner

[2015-05-16 07:23] somdoron commented on #89
solved by #343

[2015-05-16 07:23] #89 closed

[2015-05-16 07:24] somdoron commented on #339
try to add a new socket option like DisableTcpReconnect, then implement it in the TcpConnector.

Anyway, why do you want to do that?

[2015-05-16 07:25] #169 closed

[2015-05-16 07:38] somdoron commented on #336
@drewnoakes looks great, really nice. Few comments:

* Regarding the synchronization context, I'm not about the exception handling, right now the exception that will be thrown is the AggrgateException, which will eventually crash the system when be collected by the GC. how does the default synchronization context works?
* Regarding the locking and awake strategy, if we really want we actually make

[2015-05-16 08:20] somdoron commented on #340
I started working on it:
https://github.com/somdoron/netmq/tree/SendAPI

[2015-05-19 13:24] drewnoakes commented on #342
I'd like to get an alpha release out now. Is there a nuspec file for the project we can base this off? Can we get it added to the repo?

[2015-05-19 13:26] drewnoakes commented on #342
...actually I think I saw one once before. Will investigate further and respond shortly.

[2015-05-19 13:54] drewnoakes commented on #342
I am going to push up what NuGet calls a [prerelease version](https://docs.nuget.org/create/versioning#prerelease-versions) shortly. The last prerelease version was `3.3.0.12-rc1`. Should I make `3.3.0.12-rc2` given that there was never a `3.3.0.12`? Quite a bit has changed so it may make sense to bump the version number.

[2015-05-19 14:00] somdoron commented on #342
We can make it version 3.3.0.13-alpha?
On May 19, 2015 4:54 PM, "Drew Noakes" <notifications@github.com> wrote:

[2015-05-19 14:15] drewnoakes commented on #342
Ok cool. Should we also suffix with the build number, in preparation for having the build automatically deploy successful builds? The last build was 581, so I make that `3.3.0.13-alpha581`.

[2015-05-19 15:25] drewnoakes commented on #342
Should we use `Debug` or `Release` builds?

[2015-05-19 15:30] drewnoakes commented on #342
Never mind -- the nuspec file suggests we use Release.

[2015-05-19 17:18] iloginov commented on #316
Could you please set Linger to non-zero value for testing?

[2015-05-19 17:27] iloginov opened #346 "Poller and Linger = 0"
We can stable reproduce situation where background poller thread leave application working.

Pause at that moment shows that `Select` with zero timeout is executing.
![poller](https://cloud.githubusercontent.com/assets/5550341/7709294/b6f4961a-fe64-11e4-8125-5ed3b8d2d2da.jpg)

If we set `Linger` to non-zero value, background threads finishes succesfully. Seem that problem at [SessionBase:499](http

[2015-05-19 18:35] AlexeyTimofeev commented on #339
In case if connection is lost, I need to do some preparations before first reconnection attempt will be performed. Thank you!

[2015-05-19 18:35] #339 closed

[2015-05-19 21:47] drewnoakes commented on #340
Reading through the diff, it looks great. Minor typo in classname of `SendReceiveConstans`. Wonder if there's a shorter way of specifying an infinite timeout. Shame that .NET's `Timeout.Infinite` is an `int`, not a `TimeSpan`.

[2015-05-20 13:42] leverate-somech commented on #340
So I'm thinking now on the extension methods,

Option 1:

[code]

Option 2:
[code]

What do you think?

[2015-05-21 01:00] Haewk opened #348 "Router socket seems to ignore socket identity when inproc"
Examine the following example:
http://netmq.readthedocs.org/en/latest/router-dealer/#an-example

Change the address from "tcp://127.0.0.1:5556" to "inproc://router-dealer". Now the router output shows internally generated identities and not the specified dealer identities.

[2015-05-21 03:50] #348 closed

[2015-05-21 08:55] drewnoakes commented on #342
5349866cd7cab4c47b734267c2c3d3eec4107f0f (master as of today) is now available on NuGet as [3.3.0.13-alpha581](https://www.nuget.org/packages/NetMQ/3.3.0.13-alpha581).

Are we still thinking it'd be good to push these alpha builds automatically from Team City?

I made a few changes to the nuspec file (in 0e9eb826d94f7ee556b49cb89a921e7f02935e94) to support this. From the command line we should use

[2015-05-25 05:36] zhengchun opened #349 "auto dispose socket when an asynchronous operation error occurred on TcpListener."
A `TcpConnector` class and `TcpListener` class that implementation of `IProactorEvents`,when if a socket operation with asynchronous occur error,we should close and release this asynchronous socket by immediate,and avoid by GC.

TcpListener
[code]
I found that a `TcpConnector` class already will auto close when a connection asynchronous occur error.

[2015-05-28 18:01] drewnoakes commented on #340
Another option:

    socket.AddFrame(...).AddFrame(...).AddFrameAndSend(...);

[2015-05-31 10:29] somdoron commented on #342
When do you think we should promote it to version 3.3.0.13? I think the
current master is stable.

On Thu, May 21, 2015 at 11:55 AM, Drew Noakes <notifications@github.com>
wrote:

[2015-05-31 10:36] somdoron commented on #349
But the socket is dispose, not the listening one, only the accepted socket,
as you can see we try to listen again.

On Mon, May 25, 2015 at 8:36 AM, z.chun <notifications@github.com> wrote:

[2015-05-31 10:38] somdoron commented on #349
sorry, you are right. Do you want to provide the Pull request?

On Sun, May 31, 2015 at 1:36 PM, Doron Somech <somdoron@gmail.com> wrote:

[2015-05-31 11:17] drewnoakes commented on #342
It also seems stable to me. Your send API changes would be nice to include,
though I guess they'd require waiting a while to stabilise.

On Sun, 31 May 2015 at 11:29 Doron Somech <notifications@github.com> wrote:

[2015-06-02 12:22] Nebula83 commented on #223
What is the status of this? And could it be related to  https://github.com/zeromq/netmq/issues/310?

[2015-06-02 13:27] dnallicus commented on #223
Ah, I need to commit this fix still, sorry.  It is unrelated though, in #310
<https://github.com/zeromq/netmq/issues/310> it is using the constructor
rather than the CreateMonitorSocket function.  If it was
using CreateMonitorSocket, it would hang on the first monitor.Dispose();

On Tue, Jun 2, 2015 at 8:22 AM, Nebula83 <notifications@github.com> wrote:

[2015-06-02 16:39] zone117x commented on #190
How dependent is NetMQ on AsyncIO? I converted NetMQ to a shared project, referenced it from a Xamarin iOS project and tried compiling, looks like the only thing that won't work is AsyncIO.

[2015-06-02 16:50] zone117x commented on #190
Good news! I converted the AsyncIO-Unity source to a shared project type and was able to reference it and NetMQ from an iOS app. It builds and runs on an iPhone. I recommend you get a Xamarin.iOS package on Nuget. Probably get a lot of users for it!

[2015-06-02 17:28] somdoron commented on #190
Very. But you can compile asyncio as pcl as well.
On Jun 2, 2015 8:08 PM, "Matthew Little" <notifications@github.com> wrote:

[2015-06-02 21:55] drewnoakes commented on #310
For me, your code gives the error:

Changing your code to use random ports fixes the problem, as proposed by @somdoron.

[code]

@kellyelton dispose for these types is safe to call twice or more.

[2015-06-02 21:55] #310 closed

[2015-06-02 21:56] drewnoakes commented on #223
Put a small PR together for this. Thanks for the bug report.

[2015-06-02 23:43] #344 closed

[2015-06-02 23:46] drewnoakes commented on #302
Closing this for now. Can reopen later if need be.

[2015-06-02 23:46] #302 closed

[2015-06-03 09:14] alexeyk777 opened #351 "unexpected behavior of push/pull sockets"
(This is a duplicate of [my post on StackOverflow](http://stackoverflow.com/questions/30615679/unexpected-behavior-of-push-pull-sockets-in-netmq-zeromq))

Hello! I am trying to use netmq (the port of zeroMQ). Here is the problem I found. Here is a code:

    class Program
    {
        private static NetMQContext context;

        static void Main(string[] args)
        {
            context = Net

[2015-06-03 12:24] #223 closed

[2015-06-03 12:53] alexeyk777 commented on #351
Here is the code using zmq .net wrapper:

    class Program
    {
        private static ZContext ctx;

        static void Main(string[] args)
        {
            ctx = ZeroMQ.ZContext.Create();
            using (var puller = new ZSocket(ctx, ZSocketType.PULL))
            {
                puller.Bind("tcp://127.0.0.1:5651");
                Thread.Sleep(500);
                for (int i = 0;

[2015-06-03 13:02] Nebula83 commented on #223
Thanks guys! Any news when this will be released?

[2015-06-03 13:05] drewnoakes commented on #223
Can get a new prerelease build out today, but the question of a new stable
release is still open.

On Wed, 3 Jun 2015 14:02 Nebula83 <notifications@github.com> wrote:

[2015-06-03 13:12] Nebula83 commented on #223
Ah I see. What is blocking the new stable release? Can I help in some way?

[2015-06-03 13:56] drewnoakes commented on #315
Can this be closed as a dupe of #342?

[2015-06-03 13:56] drewnoakes commented on #223
Discussion is happening in #342.

[2015-06-03 14:08] drewnoakes commented on #223
`NetMQ.3.3.0.13-alpha594` is now available on NuGet as a prerelease package.

[2015-06-04 04:05] Mystfit commented on #324
I tested Unity 5.0.4 with the latest NetMq master code and hung when sending or receiving messages with nowait set to false.

I confirmed that the old Unity branch that I've been using for the past year still works, but it's pretty out of date at this stage (https://github.com/mystfit/netmq/tree/Net35Compat-BindRandom).

@FaisalZ, what branch on @somdoron's fork did you compile to get it working?

[2015-06-04 05:24] Nebula83 commented on #223
Great, thanks!

[2015-06-05 18:04] joaoantunes commented on #325
Ok I after a long period of tests I think i finally found out what was the problem with my Service Broker.

I was was creating a destroying a Client for each messages I wanted to send, despite my linger was set to 0, windows takes a long time (depending on the machine configuration) to dispose this Socket (it enters on a TIME_WAIT state).

Mainly because i was creating sockets more rapidly than wi

[2015-06-06 13:12] Camuvingian opened #353 "RecieveReady Seems to Time Out"
I am using the PUB-SUB pattern. I have a C# application that sends messages off to a C++ (engine) to do calculations. I send off all of my messages followed by a token that tells the engine that we are done - the engine then send the token back indicating to my C# app that we are finished. This works well in most cases, but I have found that if I send a large number of messages off followed by the

[2015-06-08 09:40] neoKushan commented on #326
Hi,

I believe I've managed to reproduce this issue. This was from an attempt at creating an async wrapper for the NetMQ req/rep sockets, found here: http://somdoron.com/2013/06/netmq-scheduler/.

    [Test(Description = "Disposing NetMQScheduler hangs #326")]
    public void Issue326()
    {
        var cts = new CancellationTokenSource();
        var context = NetMQContext.Create();
        var

[2015-06-08 10:29] neoKushan opened #354 "Linger timespans greater than ~1200ms cause hanging"
This might be related to the following issues: #326 #353 #346 #316

Simply put, if the Linger TimeSpan is set to a value above about 1200ms (at least on my machine), it seems to cause pollers to hang when you call CancelAndJoin.

I've created a test that reproduces this behaviour:

[code]

For reference, this test doesn't hang:

[code]

Sorry if this ends up being a dupe of the above, but I don't

[2015-06-08 11:55] georgiosd opened #355 "Sync with 0MQ progress?"
Hi!

Thanks for making a native 0MQ implementation, truly a worthy endeavor!

I'm particularly interested in the authentication piece and saw that 0MQ 4.x has a native solution but NetMQ hasn't caught up yet.

Have you got any plans/ETA to sync up?

Also, is it possible to apply your current security model with pub/sub? Please post some sample code if possible. Mainly interested in allowing the se

[2015-06-09 08:16] somdoron commented on #355
Hi Georgios,

Currently there is no plan to catch up with zeromq security and ZMTP v3.0.
However if you want to invest time in it I can help and guide you on how to
do that.

On Mon, Jun 8, 2015 at 2:55 PM, Georgios Diamantopoulos <
notifications@github.com> wrote:

[2015-06-09 08:18] somdoron commented on #326
I will take a look.

On Mon, Jun 8, 2015 at 12:40 PM, neoKushan <notifications@github.com> wrote:

[2015-06-09 08:25] somdoron commented on #353
Can it be that the application is started after the token is already sent?
Or timing issue of when exactly did it started?

On Sat, Jun 6, 2015 at 4:12 PM, Nicholas Camus <notifications@github.com>
wrote:

[2015-06-09 08:26] Camuvingian commented on #353
I have found that this was because I was not setting the `HighWaterMark` high enough. I have changed this from 1000 -> 10,000 and this works fine.

[2015-06-09 08:26] #353 closed

[2015-06-09 08:26] somdoron commented on #353
The message from C++ is multi-part or single part? maybe the more flag was
sent wrong and the message was not really sent on the wire?

On Tue, Jun 9, 2015 at 11:25 AM, Doron Somech <somdoron@gmail.com> wrote:

[2015-06-09 08:27] somdoron commented on #325
thanks

[2015-06-09 08:27] #325 closed

[2015-06-09 08:30] somdoron commented on #324
What OS are you using? did you try to compile from master or using latest
pre-release from nuget?

On Thu, Jun 4, 2015 at 7:05 AM, Mystfit <notifications@github.com> wrote:

[2015-06-09 08:31] #315 closed

[2015-06-09 08:37] somdoron commented on #351
If you are doing Receive instead of TryReceive does this still happen?

On Wed, Jun 3, 2015 at 3:53 PM, alexeyk777 <notifications@github.com> wrote:

[2015-06-09 08:39] somdoron commented on #190
Do you want to make a pull request to AsyncIO and NetMQ with the portable
library?

I can release a version of AsyncIO to nuget once the PR is in place and we
can do the same for NetMQ

On Tue, Jun 2, 2015 at 7:50 PM, Matthew Little <notifications@github.com>
wrote:

[2015-06-09 08:51] georgiosd commented on #355
Go ahead, I'll do my best!

Please let me know where I can find the final spec and where you think the changes should go in the code.

[2015-06-09 08:53] Mystfit commented on #324
I compiled from the master branch on Windows 8.1 .

[2015-06-10 07:04] iloginov commented on #200
Well, shoul this issue be closed?

[2015-06-10 08:43] somdoron commented on #355
So I would start with supporting ZMTP v3.0 with null encryption and
authentication, the main file you need to work with is

https://github.com/zeromq/netmq/blob/master/src/NetMQ/Core/Transports/StreamEngine.cs

You can read the RFC here:
http://rfc.zeromq.org/spec:23

The follow commits from libzmq is preparation to the zmtp v3.0, I suggest
to start with them:
https://github.com/zeromq/libzmq/comm

[2015-06-10 09:03] #200 closed

[2015-06-10 09:13] somdoron commented on #324
Try to have at the beginning of your application

ForceDotNet.Force();

This will instruct async io to use .net implementation instead of pinvoke.

On Tue, Jun 9, 2015 at 11:53 AM, Mystfit <notifications@github.com> wrote:

[2015-06-11 04:37] Mystfit commented on #324
@somdoron Can confirm that
[code]
fixes the hanging issue in Unity 5.1.0f3.

[2015-06-11 18:26] jameswm commented on #355
In the meantime, has there been any interop testing with zmq 4.x? That is, if I have a 4.x endpoint, and it's not using new 4.x features, will it interop with another endpoint built on the latest NetMQ?

[2015-06-11 19:58] somdoron commented on #355
Yes. Zeromq will downgrade to zmtp v2.0. Tested and in production use
On Jun 11, 2015 9:26 PM, "jameswm" <notifications@github.com> wrote:

[2015-06-18 14:16] chefhoobajoob opened #357 "NetMQ Dealer connect/send prior to Router bind/receive broken for tcp transport"
This problem is not limited to the inproc transport with NetMQ.

I am finding that when using NetMQ, and only NetMQ (I'm using version 3.3.0.11), I must bind server-side router sockets prior to issuing client-side connect/send over dealer sockets when the dealer socket is a NetMQ socket.

Neither the C/C++ zmq libraries nor jeromq exhibit this behavior. If NetMQ is used for the server-side router

[2015-06-18 15:03] somdoron commented on #357
No, can you provide code to reproduce the issue?
On Jun 18, 2015 5:16 PM, "jameswm" <notifications@github.com> wrote:

[2015-06-18 15:05] jameswm commented on #357
Sure - give me some time to simplify and remove dependencies from our current nunit tests, and I'll update.

[2015-06-18 15:44] jameswm commented on #357
Here is a receiver program:

	using System;
	using NetMQ;

	namespace receiver
	{
		class Program
		{
			static void Main( string[] args )
			{
				using ( var context = NetMQContext.Create() )
				using ( var receiver = context.CreateRouterSocket() )
				{
					receiver.Bind( "tcp://*:9045" );

					var message = receiver.ReceiveMessage();
					Console.WriteLine( "Received request" );
					var it

[2015-06-18 15:48] jameswm commented on #357
When I run the receiver, then run the sender, both programs run to completion.

When I run the sender, then run the receiver, neither program completes.

For comparison, if you like, I can post the equivalent programs in jeromq.

[2015-06-18 22:11] #349 closed

[2015-06-23 14:56] Flime commented on #98
I cant get NetMQ to work when building for Android in Unity. It doesnt have any errors, but the server does not receive anything. In the unity editor it does work. But I need to restart the Unity every time when I hit play for the second time. (Unity freezes) I used the 3.3.0.12-rc1 build.

[2015-06-24 12:35] mmaguigan-dti opened #358 "SocketOptions.ReceivevBuffer misspelled."
I believe ```SocketOptions.ReceivevBuffer``` was accidentally misspelled.

[2015-06-24 16:17] drewnoakes commented on #358
I'm pretty sure this is fixed in master.

On Wed, 24 Jun 2015 13:35 mmaguigan-dti <notifications@github.com> wrote:

[2015-06-24 16:21] mmaguigan-dti commented on #358
Ah, right you are, my apologies -- I based my issue off of the NuGet package.

This issue was fixed in 061bd89dea2b3693b44a41f5a13519ab51dcf839. Closing this ticket.

[2015-06-24 16:21] #358 closed

[2015-06-25 06:57] betimer opened #359 "Got OutOfMemoryException on Production"
Hi,

I got a **OutOfMemory** exception after running 2 weeks.
The version is 3.3.0.10 (this is last version, i think)
System is is window server 2008.
Pattern is PUB/SUB.
However, i cannot get more detailed info than the following:

Framework Version: v4.0.30319 
Description: The process was terminated due to an unhandled exception. 
Exception Info: System.OutOfMemoryException 
Stack: 
   at Syste

[2015-06-26 06:07] somdoron commented on #359
which version are you using? Which operating system?

On Thu, Jun 25, 2015 at 9:57 AM, betimer <notifications@github.com> wrote:

[2015-06-26 06:11] somdoron commented on #98
Try to compile from master, also try to run following line at the beginning
of the Main functions:

ForceDotNet.Force();

On Tue, Jun 23, 2015 at 5:56 PM, Flime <notifications@github.com> wrote:

[2015-06-26 06:12] somdoron commented on #98
Also if it still doesn't work, try to compile NetMQ with AsyncIO.Unity from
here:

https://github.com/somdoron/AsyncIO/tree/master/Source/AsyncIO

On Fri, Jun 26, 2015 at 9:11 AM, Doron Somech <somdoron@gmail.com> wrote:

[2015-06-26 10:37] betimer commented on #359
Hi, I updated the issue description. Please check.

[2015-06-27 08:58] iiwaasnet commented on #89
Confirm the same behavior.
Is it fixed in NetMQ version="3.3.0.13-alpha594?

[2015-06-27 09:22] somdoron commented on #89
Fixed in master
On Jun 27, 2015 10:58 AM, "iiwaasnet" <notifications@github.com> wrote:

[2015-06-27 17:14] vjroba commented on #335
Open the player setting and make "Api Compatibility Level" ".NET 2.0", not subset.

[2015-06-29 18:17] jameswm commented on #357
Any update on this? Are you able to reproduce the behavior?

[2015-07-03 09:56] somdoron commented on #357
I tested it with version
http://www.nuget.org/packages/NetMQ/3.3.0.13-alpha594 and it working...

Can you upgrade?

On Mon, Jun 29, 2015 at 9:17 PM, jameswm <notifications@github.com> wrote:

[2015-07-03 10:57] somdoron commented on #359
version is a little bit old, can you upgrade to lastest? (I suggest the pre-release)...

[2015-07-04 10:55] betimer commented on #359
I have upgraded to  version 11, and deployed on production.
It has been 3 days.
So far, no any error.
I will monitor longer.

[2015-07-07 07:59] chinattw commented on #231
Runing NETMQ
Win7 IS Succeed
Windows XP SP3 Is Faild

Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.EntryPointNotFoundException
Stack:
   at AsyncIO.Windows.UnsafeMethods.GetQueuedCompletionStatusEx(IntPtr, IntPtr, Int32, Int32 ByRef, Int32, Boolean)
   at AsyncIO.Windows.CompletionPort.GetMultipleQueuedCompletionStatus(

[2015-07-09 23:34] jameswm commented on #357
I think so, but am out for the next few weeks - will update upon return.

[2015-07-13 14:46] fostebr commented on #230
Just wondering what the status was with this?  I'm experiencing the same exact issue running the OP's code on Windows, building with Visual Studio 2013.  I currently have the dispose call commented out in my actual code, but that's certainly not a fix at all.  I using the current master branch as well.

[2015-07-13 16:07] barzto commented on #230
@fostebr As you mentioned you use Visual studio to build the code, I'm wondering if we're both talking about running NetMQ in Unity? (Sounds to me like you're building plain .Net app)

I've reported the issue with `Socket.Select()`, which seems to work incorrectly in Unity (i.e. in Mono they're using to run Editor & Game runtime). The bug report number is 674077 and it's marked still as opened in

[2015-07-13 16:19] fostebr commented on #230
Correct, I'm just using plain .NET.  I guess I made the poor assumption it'd be the same fix across the board.  Should I submit a separate issue for the environment I'm experiencing it in?

[2015-07-13 16:53] drewnoakes commented on #230
@fostebr, first of all make sure you're using the latest *pre-release*
version from NuGet. If so, then open a new issue.

On Mon, 13 Jul 2015 at 17:19 fostebr <notifications@github.com> wrote:

[2015-07-13 19:36] fostebr commented on #230
Tried the latest pre-release from NuGet (3.3.0.13-alpha594), still get the same behavior of dispose never returning.  However, after looking through some of the other issues, I've noticed that https://github.com/zeromq/netmq/issues/357 is more likely the culprit.  It is exactly what I'm trying to do.  (Apologies for bumping this thread.  I didn't see the other issue at first.)

[2015-07-13 20:21] fostebr commented on #357
I've tried this with 3.3.0.13-alpha594.  As described by jameswm, it works.  However, try this simple modification.  All it does is try to send a message and exit.

[code]
Without any server, this code will never exit.  It gets hung up on disposing the context.  Looks like what is happening is the context is trying to clean up the dealer socket, but can't because that message hasn't been sent.  So

[2015-07-13 23:10] jwjosefy commented on #349
I'm sorry to bother but do the Nuget package already contains this fix?
Thanks.

[2015-07-14 01:50] zhengchun commented on #349
May not be contains ,or you can compile the source code,in the most case,the GC will dispose it if no longer used.

`NetMQ 3.3.0.13-alpha594` latest new version on the  Nuget:
[code]

[2015-07-14 16:59] o-zombi-o commented on #324
@somdoron I can also confirm that `AsyncIO.ForceDotNet.Force();` fixes the hanging issue in *Unity 5.0.2f1 Personal* compiling NetMQ from a master cloned no more than a few days ago (about 10/Jul/15).

[2015-07-22 05:19] RazgrizHsu opened #361 "Router&Dealer connect twice failed when set Options.Identity"
i create two Testing method,
different only on settings of Options.Identity
but second testing never success ( blocking on receive )

This testing success..

		public void TestReconnect_RouterAndDealer()
		{
			using ( var context = NetMQContext.Create() )
			using ( var server = context.CreateRouterSocket() )
			{
				var addres = "tcp://127.0.0.1:17878";

				// just making sure can bind on both

[2015-07-22 17:22] somdoron commented on #361
you now that the two sockets have the same identity? the behavior for this
is unexpected. Change one of the client identities

On Wed, Jul 22, 2015 at 8:19 AM, RazgrizHsu <notifications@github.com>
wrote:

[2015-07-23 13:47] Sokharev commented on #230
Hello, I've expirienced the same problem in Unity (connect/send/dispose context hangs) with latest version and found problem in Ctx.cs in method Terminate(). I'am not sure that it's "right" but in my case it hangs in this line:
[code]
if've wrapped it with final "Poll" ( but for sure it's dirty & hacky ) and Unity Editor works ok now(no hangs)
[code]
@somdoron Could you please comment how to fix i

[2015-07-23 13:55] somdoron commented on #230
Did you try the ForceDotNet.Force(); at the beginning of the application?

On Thu, Jul 23, 2015 at 4:47 PM, Sokharev <notifications@github.com> wrote:

[2015-07-23 13:57] somdoron commented on #230
When context hangs it is usually a sign that one of the sockets was not
closed properly.

Few solutions for this:
* Find out which socket is causing the problem
* Don't close the context, application will just die
* A new feature to close the context even if sockets are still alive.

On Thu, Jul 23, 2015 at 4:55 PM, Doron Somech <somdoron@gmail.com> wrote:

[2015-07-23 13:59] Sokharev commented on #230
@somdoron
Yes, i'am doing AsyncIO.ForceDotNet.Force(); at very beginning.
Also i'am doing following:
1.I'am doing create/connect/send despite router server not running( ie no one listening )
2. start sending heartbeat messages
3. after 1-2 messages stopping editor and doing socket/context dispose.

[2015-07-23 14:04] somdoron commented on #230
disposing socket is an async, so maybe because the messages are still
pending the socket is not being closed.

Try to set the socket linger to zero, it might solve the problem.

On Thu, Jul 23, 2015 at 4:59 PM, Sokharev <notifications@github.com> wrote:

[2015-07-23 14:10] Sokharev commented on #230
@somdoron Tried - it's really helps! thank you. But i'am not sure - is it breaks something else?

[2015-07-23 14:23] somdoron commented on #230
No, the change cause the socket to be closed even if their are messages
pending.

The default behavior is to wait for all messages to be sent before closing,
you can change linger to number of seconds you want to wait for messages
before closing.

Because in your example the server is not up the socket will wait forever

On Thu, Jul 23, 2015 at 5:10 PM, Sokharev <notifications@github.com> wrote:

[2015-07-25 14:52] bbdb68 opened #364 "netMq and unity 5.1.1 : use of bufferPool make unity freeze"
when activating the bufferPool on NetMQ within unity 5.1, unity freezes during execution,

it worked fine in 5.0.2 (and allowed execution without memory allocation)

[2015-07-25 14:55] bbdb68 commented on #364
note : I am using net mq from asset store

[2015-07-25 15:19] somdoron commented on #364
Can you provide more details about where its get stuck? Netmq is using wcf
buffer pool, you might want to provide your own.
On Jul 25, 2015 5:55 PM, "bbdb68" <notifications@github.com> wrote:

[2015-07-25 15:45] bbdb68 commented on #364
the application starts, output errors about null references, but I cannot see the first one, because when I stop the application, the editor freezes and I have to kill it.

the first lines of my code are

 AsyncIO.ForceDotNet.Force(); // necessary to allow clean reconnection
  BufferPool.SetBufferManagerBufferPool( 10, 1024);
  m_context = NetMQContext.Create();
....

thanks for your quick answer.

[2015-07-25 15:50] bbdb68 commented on #364
by diabling the update step of my application, I was able to see the first error. Is it IndexOufOfRangeException, in TakeBuffer (cannot copy the stack trace since unity is freezed

[2015-07-25 16:32] drewnoakes commented on #364
TakeBuffer is a method on WCF's BufferManager, and it takes a single int
parameter, size.

https://github.com/zeromq/netmq/blob/master/src/NetMQ/BufferPool.cs#L58

Can you find out what this value is during your crash? A longer stack trace
would be useful too -- even if you have to take a screenshot.

On Sat, 25 Jul 2015 at 16:50 bbdb68 <notifications@github.com> wrote:

[2015-07-28 07:36] #340 closed

[2015-07-28 07:36] somdoron commented on #342
I think we can release a stable version, what do you think?

[2015-07-28 07:51] drewnoakes commented on #342
Seems like a good time to me. Things appear to have been stable for a while.

What does this involve, other than pushing to NuGet?

- working out what actually changed for release notes (maybe a blog post
too)
- updating readthedocs to show non-obsolete APIs

Anything else?

On Tue, 28 Jul 2015 08:36 Doron Somech <notifications@github.com> wrote:

[2015-07-28 08:07] somdoron commented on #342
So lets give it few weeks

On Tue, Jul 28, 2015 at 10:51 AM, Drew Noakes <notifications@github.com>
wrote:

[2015-07-30 07:06] chinaboard opened #368 "queuedeive.IsRunning is always false"
[DeviceBase.cs Line 120](https://github.com/zeromq/netmq/blob/master/src/NetMQ/Devices/DeviceBase.cs#L120)

if  new queuedevice haven't poller
queuedevie.Run() called m_poller.PollTillCancelled();
IsRunning is always false

[2015-07-30 10:30] #368 closed

[2015-07-30 15:09] ThatDud3 opened #370 "MultithreadedService Sample not working with inproc"
https://raw.githubusercontent.com/zeromq/netmq/master/src/Samples/Multithreading/Multithreaded%20Service/MultithreadedService/Program.cs

Switching from _tcp://_ to **_inrpoc://**_ throws
**Exception on WorkerRoutine: Exception of type 'NetMQ.EndpointNotFoundException' was thrown.**

_QuickFix:_ Moving queue.Start(); before creation of WorkerRoutine threads helps and it works for both tcp:// and i

[2015-07-30 20:24] drewnoakes commented on #370
Want to put a pull request together with the fix you identified?

[2015-07-30 20:25] drewnoakes commented on #359
@betimer, I'm going to close this. We can re-open if you are still experiencing issues.

[2015-07-30 20:25] #359 closed

[2015-07-30 20:26] drewnoakes commented on #361
@RazgrizHsu, are you satisfied with @somdoron's solution? If so, let's close this issue. Thanks!

[2015-07-30 22:21] drewnoakes commented on #351
Did you try the answer you received on Stack Overflow? http://stackoverflow.com/a/31469923/24874

[2015-07-30 22:22] drewnoakes commented on #342
A new prerelease build is up on NuGet: [3.3.0.13-alpha622](https://www.nuget.org/packages/NetMQ/3.3.0.13-alpha622)

[2015-07-30 22:33] drewnoakes commented on #351
[Emil Ingerslev](http://stackoverflow.com/users/244557/emil-ingerslev)'s answer on StackOverflow is correct. Your sender code is closing the socket too quickly. You must ensure the socket remains open long enough for outbound messages to be sent.

Note that even a blocking send does not guarantee the message leaves the sender's socket. Only that it is queued to be sent.

[2015-07-30 22:33] #351 closed

[2015-07-31 02:55] betimer commented on #359
So far, after applying new version of lib, there is no more this kind of exception.
So let's close it now.

[2015-07-31 11:56] Flime commented on #98
It does work. Only after a few minutes it stops working. I need to reopen my unity android app to let it start working again.

[2015-08-03 17:38] ThatDud3 commented on #370
I'm not sure if that is the proper way to do it.. what if queue.Start(); succeeds but thread creation fails? - queue will crash/overflow after first few thousand messages.
I think worker threads should be created before queue.Start();
alas that only works for tcp:// and fails for inproc:// and I lack the knowledge to fix it the right way (it should work the same way as tcp://)

[2015-08-09 15:57] pixerati commented on #98
Hey guys,

I've been happily working with this build of NetMQ for Unity both in OS X and Windows.

But I've been doing all my testing using the loop back 127.0.0.1. As soon as I moved the server (a Pyzmq server) to another machine I get no connection, at least nothing that sends and receives data.

I'm using tcp://*:5555 as the bind address on the server and tcp://theServerMachineIP:5555 on the cl

[2015-08-09 16:08] drewnoakes commented on #98
Can you telnet to port 5555 between the boxes? That's a good test to rule
out network issues.

On Sun, 9 Aug 2015 at 16:57 pixerati <notifications@github.com> wrote:

[2015-08-09 17:02] pixerati commented on #98
I did a raw telnet through to port 5555 without any issue.

[2015-08-10 14:01] romanros opened #371 "Unhandled exception at NetMQ.Core.Utils.Proactor.Loop()"
Occasionally I experience this unhandled exception:

[code]

It's difficult to reproduce - it takes hours to reproduce when running a connect/disconnect test. I use push/pull sockets and the netmq is built from the latest sources. The exception happens at a background thread created within netmq library at NetMQ.Core.Utils.Proactor.Loop() line 106.

I see the method AsyncIO.Windows.CompletionPort.